Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Add todo
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve env var value processing
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Extend tests
  tests/test_job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add licences file and include it into credits
  docs/misc/credits.md
  docs/misc/licenses.md
Due: none

Add pip-licences to doc deps
  requirements/documentation.txt
Due: build-wheel, build-win-exe, build-bin-debian

Change jobs order to generate licences without docs noise
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Prevent manual licences edit
  .gitignore
Due: build-wheel, build-win-exe, build-bin-debian

Improve sphinx build
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Trigger doc workflow when it's modified in a PR
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix pip-licenses command
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Reduce test trigger
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Minor improvmen
  qgis_deployment_toolbelt/utils/str2bool.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Test str2bool
  tests/test_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add conditional skip
  tests/test_job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add minimal test for win32utils.getenv
  tests/test_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix test
  tests/test_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix exception name
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use TEMP as envvar
  tests/test_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to 0.9.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Complete docstring
  qgis_deployment_toolbelt/utils/proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Test get_proxy_settings util
  qgis_deployment_toolbelt/utils/__init__.py
  qgis_deployment_toolbelt/utils/proxies.py
  tests/test_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add conf qgis fr
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix bad attribute name
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add tests against remote git handler
  tests/test_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix error with tempdir auto rm on Windows
  tests/test_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Clean main
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump version to 0.10.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Documentation of a scheduled task on Windows
  docs/index.md
  docs/static/task_scheduler_windows_app.png
  docs/static/task_scheduler_windows_create_task.png
  docs/static/task_scheduler_windows_create_task_action.png
  docs/static/task_scheduler_windows_create_task_general.png
  docs/static/task_scheduler_windows_create_task_trigger.png
  docs/static/task_scheduler_windows_monitoring.png
  docs/usage/schedule_deployment.md
Due: none

Reduce image size
  docs/static/task_scheduler_windows_app.png
Due: build-wheel, build-win-exe, build-bin-debian

Update the formatting of the schedule_deployment.md file in the documentation
  docs/usage/schedule_deployment.md
Due: none

Reduction of the size of the images and removal of the tags <br>
  docs/static/task_scheduler_windows_app.png
  docs/static/task_scheduler_windows_create_task.png
  docs/static/task_scheduler_windows_create_task_action.png
  docs/static/task_scheduler_windows_create_task_general.png
  docs/static/task_scheduler_windows_create_task_trigger.png
  docs/static/task_scheduler_windows_monitoring.png
  docs/usage/schedule_deployment.md
Due: none

typo
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add properties
  qgis_deployment_toolbelt/plugins/plugin_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add sync_mode option
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  tests/test_job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm useless quotes
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add test for fresh install
  tests/test_job_profiles_sync.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

WIP sync modes
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
