Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Add module to read and write QGIS3*.ini files
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add method to check is customization is enabled
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
  tests/fixtures/qgis_ini/default_customization/QGIS3.ini
  tests/fixtures/qgis_ini/default_customization/QGISCUSTOMIZATION3.ini
  tests/fixtures/qgis_ini/default_no_customization/QGIS3.ini
  tests/test_qgis_ini_helper.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typos
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add splash screen setter
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
  tests/test_qgis_ini_helper.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add dev script on INI files interpolation
  tests/dev/dev_ini_files_interpolation.py
  tests/fixtures/qgis_ini/test_ini_interpolated.ini
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

An empty var can't be a valid path
  qgis_deployment_toolbelt/utils/check_path.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use environment variable by default
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add method to determine if splash path is set
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add custom ConfigParser that keep the initial filepath
  qgis_deployment_toolbelt/utils/ini_parser_with_path.py
  tests/test_utils_ini_custom_parser.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix bad parameters
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve splash screen resiliency
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add tests againts splash path test
  tests/test_qgis_ini_helper.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Remove splash screen setter
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use ini helper module
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add custom INI interpolation
  qgis_deployment_toolbelt/utils/ini_interpolation.py
  tests/test_utils_ini_interpolation.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typos
  qgis_deployment_toolbelt/constants.py
  tests/test_utils_slugifier.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix test
  tests/dev/dev_ini_files_interpolation.py
  tests/fixtures/qgis_ini/test_ini_interpolated.ini
  tests/test_utils_ini_interpolation.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix missing imports
  qgis_deployment_toolbelt/jobs/generic_job.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix interpoltaion on Windows
  tests/test_utils_ini_interpolation.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Split interpolation tests by operating system
  tests/test_utils_ini_interpolation.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix HOME ref
  tests/test_utils_ini_interpolation.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add custom ConfigParser interpolator
  qgis_deployment_toolbelt/utils/ini_interpolation.py
  tests/test_utils_ini_interpolation.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add custom ConfigParser that keeps initial filepath
  qgis_deployment_toolbelt/utils/ini_parser_with_path.py
  tests/test_utils_ini_custom_parser.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add module to manipulate QGIS ini files
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
  tests/test_qgis_ini_helper.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use QGIS ini helper and remove duplicate code
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: an empty var can't be a valid path
  qgis_deployment_toolbelt/utils/check_path.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add fixtures files for QGIS ini helper
  tests/fixtures/qgis_ini/default_customization/QGIS3.ini
  tests/fixtures/qgis_ini/default_customization/QGISCUSTOMIZATION3.ini
  tests/fixtures/qgis_ini/default_no_customization/QGIS3.ini
  tests/fixtures/qgis_ini/test_ini_interpolated.ini
Due: build-wheel, build-win-exe, build-bin-debian

dev: add script to test config parser
  tests/dev/dev_ini_files_interpolation.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

misc: minor fixes
  qgis_deployment_toolbelt/constants.py
  tests/test_utils_slugifier.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to 0.28.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Fix packages-dir path
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

pypi: print hash
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

CI: fix packages-dir path for PyPi upload (#339)
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

packaging: add operating system name to build report
  builder/pyinstaller_build_macos.py
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

ci: avoid uploading build reports
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

docs: how to manually deploy to PyPi
  docs/development/releasing.md
Due: none

Fix duplicate line
  CHANGELOG.md
Due: none

Add Viewer Mode plugins
  examples/profiles/Viewer Mode/profile.json
Due: build-wheel, build-win-exe, build-bin-debian

Fix examples readme
  examples/README.md
  examples/profiles/demo/README.md
Due: none

Fix QuickMapServices version
  examples/profiles/Viewer Mode/profile.json
Due: build-wheel, build-win-exe, build-bin-debian
