Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Use demo hyperlink
  README.md
  docs/usage/how_to_use.md
  scenario.qdt.yml
Due: none

Move cron to guides
  docs/guides/howto_schedule_deployment.md
  docs/index.md
Due: none

Add qdt to pypi keywords
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

If icon not found, use default QGIS icon
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Revert "If icon not found, use default QGIS icon"
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Handle Path or str as icon path on Windows
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use default icon if not set
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add QGIS default icon path attribute
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add new rule to doc
  docs/jobs/shortcuts_manager.md
Due: none

Trigger tests on changes on requirements/packaging
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Trigger on packaging dependencies
  .github/workflows/build_release.yml
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add icon to Windows exe
  builder/pyinstaller_build_windows.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix path
  builder/pyinstaller_build_windows.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Replace png by ico
  builder/pyinstaller_build_windows.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add missing icon
  docs/static/logo_qdt.ico
Due: build-wheel, build-win-exe, build-bin-debian

Bump to version 0.25.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Add util to check if a str is a valid URL
  qgis_deployment_toolbelt/utils/url_helpers.py
  tests/test_utils_url_helpers.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix URL were not accepted as env var value
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  tests/test_job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add new option to specify value type without ambiguity
  docs/jobs/environment_variables.md
  docs/schemas/scenario/jobs/manage-env-vars.json
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  tests/test_job_environment_variables.py
Due: linter, basic-test

Fix import
  tests/test_utils_url_helpers.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Enable test on linux and macos
  tests/test_job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix tests
  tests/test_job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump version to 0.26.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Fix import and parameters
  tests/test_utils_url_helpers.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Factorize common args
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Split tests to comply with rest of tests suite
  tests/test_utils_proxies.py
  tests/test_utils_win32.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Support custom proxy setting through QDT_PROXY_HTTP
  qgis_deployment_toolbelt/utils/proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Extend tests
  tests/test_utils_proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add QDT_PROXY_HTTP env var
  docs/usage/settings.md
Due: none

typo
  README.md
Due: none

Fix duplicate call to proxies helper
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add proxy environ var from option
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use custom proxy configuration
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add how to use behind a network proxy
  docs/guides/howto_behind_proxy.md
  docs/index.md
Due: none

Fix keywords list type
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add extra dependencies
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Update Pillow to fix CVE related to libwebp
  requirements/testing.txt
Due: build-wheel, build-win-exe, build-bin-debian

typo
  docs/guides/howto_behind_proxy.md
Due: none

Switch license from LGPL3 to Apache License 2
  LICENSE
  qgis_deployment_toolbelt/__about__.py
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use recomended license label
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
