Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Improve package metadata
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Clean dependencies
  requirements/documentation.txt
Due: build-wheel, build-win-exe, build-bin-debian

Add job to publish to Pypi
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add autodocumentation of cli
  docs/conf.py
  docs/usage/cli.md
  docs/usage/how_to_use.md
Due: linter, basic-test

Bump to version 0.3.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Fix missing twine dep
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Check against supported platforms
  qgis_deployment_toolbelt/commands/cli_check.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add configuration per OS
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add isort config
  setup.cfg
Due: build-wheel, build-win-exe, build-bin-debian

VSCode: enable format and sort on save
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Fix codecov config
  setup.cfg
Due: build-wheel, build-win-exe, build-bin-debian

Improve label and release
  .github/labeler.yml
  .github/release.yml
Due: build-wheel, build-win-exe, build-bin-debian

WIP copy profiles
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Script testing pathlib capacity for copy/move files
  tests/dev/dev_copy_files_pathlib.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Testing different ways
  tests/dev/dev_copy_files_pathlib.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Achieve empty or unexistent profiles folder
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

add gist link
  tests/dev/dev_copy_files_pathlib.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve opy resiliency
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to version 0.4.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Be more humble in changelog section
  .github/release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix profiles path with ~
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Enable debug mode for dev mode
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add metadata section
  tests/test_scenario_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add logic to list only QGIS profiles folders
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to 0.5.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Fix installation page
  docs/index.md
  docs/usage/installation.md
Due: none

Move tests dependencies into a separate requirements file
  .github/workflows/tests.yml
  requirements/development.txt
  requirements/testing.txt
Due: build-wheel, build-win-exe, build-bin-debian

Minor keywords change
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add test against package about
  tests/test_about.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix dependencies install
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add quality label for tests
  .github/labeler.yml
  .github/release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Improve classifiers
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Test against multiple Python versions
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Test slugger
  qgis_deployment_toolbelt/utils/slugger.py
  tests/test_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Extend scenario reader tests
  tests/test_scenario_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix scenarios listing
  tests/test_scenario_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix title and validate method
  tests/test_scenario_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Quick test against bad type
  tests/test_scenario_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Handle diff profiles installed
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Clean up
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
