Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

tooling: update schemas.json after splitting qprofiles-manager
  docs/schemas/scenario/jobs/generic.json
  docs/schemas/scenario/jobs/qprofiles-downloader.json
  docs/schemas/scenario/jobs/qprofiles-manager.json
  docs/schemas/scenario/jobs/qprofiles-synchronizer.json
Due: build-wheel, build-win-exe, build-bin-debian

tooling: fix JSON schema ids
  docs/schemas/profile/qgis_plugin.json
  docs/schemas/profile/qgis_profile.json
  docs/schemas/scenario/jobs/manage-env-vars.json
  docs/schemas/scenario/jobs/qplugins-downloader.json
  docs/schemas/scenario/jobs/qplugins-synchronizer.json
  docs/schemas/scenario/jobs/shortcuts-manager.json
  docs/schemas/scenario/jobs/splash-screen-manager.json
  docs/schemas/scenario/metadata.json
  docs/schemas/scenario/schema.json
  docs/schemas/scenario/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

tooling: ignore dev scripts and fixtures from Sonar analisis
  sonar-project.properties
Due: build-wheel, build-win-exe, build-bin-debian

ci: disable matrix fail fast
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

tooling: make sonar ignore tests for duplication
  sonar-project.properties
Due: build-wheel, build-win-exe, build-bin-debian

docs: add compatible OS with job env var
  docs/jobs/environment_variables.md
Due: none

feature: add functions to manage environment variables on Linux (bash)
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature: import linux env vars methods
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

dev: scripts to explore environment variables stakes
  tests/dev/dev_manage_persistent_env_var_linux.py
  tests/dev/dev_manage_persistent_env_var_windows.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tests: extend tests against environment variables
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
  tests/fixtures/scenarios/scenario_sample_as_admin.qdt.yml
  tests/test_cli_main.py
  tests/test_job_environment_variables.py
  tests/test_utils_linux.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.31.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

fix: restore refresh_envronment
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

restore: bump version to 0.31.1
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

refacto: rm typing_extensions from deps replacing by future.annotations
  qgis_deployment_toolbelt/plugins/plugin.py
  qgis_deployment_toolbelt/profiles/qdt_profile.py
  requirements/base.txt
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tooling: ignore every build environment report
  .gitignore
Due: build-wheel, build-win-exe, build-bin-debian

fix: avoid crash if shortcut template is missing
  qgis_deployment_toolbelt/shortcuts/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: shortcut template was bundled to a wront path
  builder/pyinstaller_build_ubuntu.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

deps: add truststore to manage system SSL certs stores
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

feature: add an option to use native system certificates stores instead of bundled
  docs/usage/settings.md
  qgis_deployment_toolbelt/utils/file_downloader.py
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test

docs: add guide to customize which SSL certs to use
  docs/guides/howto_behind_proxy.md
  docs/guides/howto_use_custom_ssl_certs.md
  docs/index.md
  docs/usage/settings.md
Due: none

improve: rm trustore call and rm certifi vars
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: add details about REQUESTS_CA_BUNDLE
  docs/guides/howto_use_custom_ssl_certs.md
  docs/usage/settings.md
Due: none

release: bump version to 0.31.2
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

packaging: setPython min/max versions
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix max version
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix version comparison
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix deprecation warning
  setup.cfg
Due: build-wheel, build-win-exe, build-bin-debian

Set max python to 4
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

packaging: set Python min/max versions (#447)
  setup.cfg
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: remove deprecated job and fix minor confusing refs
  docs/schemas/scenario/jobs/generic.json
  docs/schemas/scenario/jobs/qprofiles-manager.json
  docs/schemas/scenario/jobs/qprofiles-synchronizer.json
  docs/schemas/scenario/metadata.json
Due: build-wheel, build-win-exe, build-bin-debian

deps: bump minimal versions for git sync
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

demo: add profiles icons
  examples/profiles/Viewer Mode/icon.png
  examples/profiles/demo/icon.png
Due: build-wheel, build-win-exe, build-bin-debian

Icons for profiles
  examples/profiles/Viewer Mode/icon.png
  examples/profiles/demo/icon.png
Due: build-wheel, build-win-exe, build-bin-debian

Source SVG files + bigger PNGs
  examples/profiles/Viewer Mode/icon.png
  examples/profiles/Viewer Mode/icon.svg
  examples/profiles/demo/icon.png
  examples/profiles/demo/icon.svg
Due: build-wheel, build-win-exe, build-bin-debian

demo: replace generic logo with new icons made by @sylvainbeo
  examples/profiles/Viewer Mode/images/icon_shortcut_qdt_viewer_mode.ico
  examples/profiles/Viewer Mode/images/logo_qdt.ico
  examples/profiles/Viewer Mode/profile.json
  examples/profiles/demo/images/icon_shortcut_qdt_demo.ico
  examples/profiles/demo/images/logo_qdt.ico
  examples/profiles/demo/profile.json
Due: build-wheel, build-win-exe, build-bin-debian

typo: docstring
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(env variable): add resolution of env variable in interpolation
  qgis_deployment_toolbelt/utils/ini_interpolation.py
  tests/test_utils_ini_interpolation.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(ini): add merge of ini file for QdtProfile in synchronization job
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/profiles/qdt_profile.py
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(logs): use coloredlogs to use color for log display
  qgis_deployment_toolbelt/utils/journalizer.py
  requirements/base.txt
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(examples): add some variables
  examples/profiles/Viewer Mode/QGIS/QGIS3.ini
  examples/profiles/demo/QGIS/QGIS3.ini
Due: build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
