Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Add method to get the path once the plugin is installed in QGIS
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Minor clean up
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add new option
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Bump version to 0.15.0
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Replace semver by packaging
  qgis_deployment_toolbelt/commands/cli_upgrade.py
  requirements/base.txt
  tests/test_about.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Update changelog
  CHANGELOG.md
Due: none

Move distro dependency to base requirements
  requirements/base.txt
  requirements/packaging.txt
Due: build-wheel, build-win-exe, build-bin-debian

Small test of pyshortcuts
  tests/dev/dev_pyshortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm setuptools and wheel from requirements
  requirements.txt
Due: build-wheel, build-win-exe, build-bin-debian

Handle Desktop path on XDG
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add template for freedesktop shortcut
  qgis_deployment_toolbelt/profiles/shortcut_freedesktop.template
Due: build-wheel, build-win-exe, build-bin-debian

Add property to get QGIS bin path
  qgis_deployment_toolbelt/constants.py
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rename property to get qgis bin path
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add ability to create shortcuts on Linux (freedesktop)
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve how shortcuts options are passed
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  tests/test_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Move QGIS executable path to settings section
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Make sure startmenu and desktopn folders exist
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix condition eval
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix desktoppath should return a Path instance
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Unlink only if file exist
  tests/test_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Expand user and vars on qgis exe path
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to version 0.16.0
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add latest version to changelog
  CHANGELOG.md
Due: none

Add rich to dependencies
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Add changelog when running upgrade
  qgis_deployment_toolbelt/commands/cli_upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use local schema to validate development sample
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Update JSON schemas
  docs/schemas/jobs/generic.json
  docs/schemas/jobs/manage-env-vars.json
  docs/schemas/jobs/qprofiles-manager.json
  docs/schemas/schema.json
  docs/schemas/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Update sample et development scenarios
  scenario.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Rm VS Code task
  .vscode/tasks.json
Due: build-wheel, build-win-exe, build-bin-debian

Embed shortcut template into packages
  MANIFEST.in
Due: build-wheel, build-win-exe, build-bin-debian

Bump to version 0.16.1
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump git hooks to fix isort failing
  .pre-commit-config.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Reorganize JSON schemas
  docs/schemas/scenario/jobs/generic.json
  docs/schemas/scenario/jobs/manage-env-vars.json
  docs/schemas/scenario/jobs/qprofiles-manager.json
  docs/schemas/scenario/metadata.json
  docs/schemas/scenario/schema.json
  docs/schemas/scenario/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Add JSON schemas for profiles
  docs/schemas/profile/qgis_plugin.json
  docs/schemas/profile/qgis_profile.json
Due: build-wheel, build-win-exe, build-bin-debian

Adapt VS Code configuration
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Upgrade tests profiles
  tests/fixtures/profiles/good_profile_complete.json
  tests/fixtures/profiles/good_sample_profile.json
Due: build-wheel, build-win-exe, build-bin-debian

Improve documentation
  docs/index.md
  docs/misc/compatibility.md
  docs/usage/profile.md
Due: none

Trigger tests when fixtures change
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Complete
  docs/usage/profile.md
Due: none

Rm unused option
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
