Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

release: bump version to 0.33.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

enhancement: improve reliability of version templater making sure that a semver is passed
  builder/version_info_templater.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

profile: add rules section to the model
  docs/schemas/profile/qgis_profile.json
  docs/schemas/profile/rules.json
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: make sure that environment dict is cross-platform
  qgis_deployment_toolbelt/utils/computer_environment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: add a sample profile with conditional deployment rule
  docs/index.md
  docs/reference/qdt_profile.md
  docs/usage/profile.md
  examples/README.md
  examples/profiles/only_linux/.gitignore
  examples/profiles/only_linux/profile.json
Due: none

feature: add profile's rules checks based on execution environment
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/utils/computer_environment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

dev: simple script to tests rules engine
  tests/dev/dev_rules_engine.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: operators were based on JSON rules and not on Python implementation
  docs/schemas/profile/rules.json
Due: build-wheel, build-win-exe, build-bin-debian

deps: add python-rule-engine for profiles conditional sync
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

fix: typo in JSON Schema description
  docs/schemas/profile/qgis_profile.json
Due: build-wheel, build-win-exe, build-bin-debian

fix(logs): unreachable profile-attributes in logs
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: function was not properly called
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature(rules): add date to rules context
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/utils/computer_environment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

change: improve consistency between code and rules context
  qgis_deployment_toolbelt/utils/computer_environment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

rename: datetime_dict --> date_dict func
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs(examples): add rule against date
  examples/profiles/only_linux/profile.json
Due: build-wheel, build-win-exe, build-bin-debian

Feature: add datetime to rules context (#484)
  examples/profiles/only_linux/profile.json
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/utils/computer_environment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs(testing): add how to test against local banch
  docs/development/testing.md
Due: none

docs: add dynamically rules context to documentation
  .gitignore
  docs/conf.py
  docs/development/documentation.md
  docs/reference/qdt_profile.md
Due: linter, basic-test

docs: adapt to new rules func name
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature(windows): add module to get information about user groups in Atcive Directory
  qgis_deployment_toolbelt/utils/user_groups.py
  requirements/base.txt
  tests/dev/dev_win_user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature(rules): add user name and groups to rules context
  docs/conf.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/utils/computer_environment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tests(usergroups): add unit tests against user groups module
  tests/test_utils_user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: avoid running only win32 in other OS
  tests/test_utils_user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: upstream URL change
  docs/jobs/profiles_downloader.md
  docs/jobs/profiles_manager.md
  docs/jobs/profiles_synchronizer.md
  tests/dev/dev_dulwich_remote.py
  tests/test_git_handler_remote.py
  tests/test_job_profiles_sync.py
Due: linter, basic-test

fix: comparison value
  tests/test_git_handler_remote.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tests: sanitize check path test
  tests/test_utils_check_path.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tests: fix git remote test
  tests/test_git_handler_remote.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: adapt tests since github action switched to worktree
  tests/test_git_handler_remote.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tests(usergroups): add unit tests against user groups module (#490)
  docs/jobs/profiles_downloader.md
  docs/jobs/profiles_manager.md
  docs/jobs/profiles_synchronizer.md
  tests/dev/dev_dulwich_remote.py
  tests/test_git_handler_remote.py
  tests/test_job_profiles_sync.py
  tests/test_utils_check_path.py
  tests/test_utils_user_groups.py
Due: linter, basic-test

wip
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto(rules): move profile rules filter mechanism to generic class to make it usable in every jobs
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto(rules): filter on rules in generic job
  qgis_deployment_toolbelt/jobs/generic_job.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: bad import
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto(jobs): use profiles listing from GenericJob in every jobs
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto(rules): make rules context an object
  qgis_deployment_toolbelt/profiles/rules_context.py
  qgis_deployment_toolbelt/utils/computer_environment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto(rules): adapt to and test new QdtRulesContext
  docs/conf.py
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
  tests/test_rules_context.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature(cli): add command to export rules context in current environment
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/__init__.py
  qgis_deployment_toolbelt/commands/rules_context.py
  tests/test_cli_rules_context_export.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto: rename to avoid module conflict
  qgis_deployment_toolbelt/commands/cmd_rules_context.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

sonar: clean up
  qgis_deployment_toolbelt/profiles/rules_context.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
