Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Add minimalist progressbar
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add options validation
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add git remote handler
  qgis_deployment_toolbelt/profiles/__init__.py
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add logic for remote git repos
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add debug logg
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix typo
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add project dependencies
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Achieve download logic for remote git
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use built-in cache in setup-python
  .github/workflows/lint.yml
Due: build-wheel, build-win-exe, build-bin-debian

Bump minimal versions
  requirements/development.txt
Due: build-wheel, build-win-exe, build-bin-debian

Use built-in cache in setup-python
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Improve release workflow
  .github/workflows/build.yml
Due: build-wheel, build-win-exe, build-bin-debian

Rm python path and add yaml schema
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Add JSON schema for github workflows
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Rename workflow
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add ubuntu build
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix missing packag installation
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Complete steup
  qgis_deployment_toolbelt/__about__.py
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Install root requirements
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Workaround of install_requires behavior
  requirements.txt
  requirements/base.txt
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Clean cache
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

rm editable mode from root requirement
  requirements.txt
Due: build-wheel, build-win-exe, build-bin-debian

Fix windows build
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

TEMP test release job
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix artifact names
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Update badge
  README.md
Due: none

Use maintained action
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Restore tag filter
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix badge
  README.md
Due: none

Bump version 0.2.0
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add release worklow
  docs/development/documentation.md
  docs/development/releasing.md
  docs/index.md
Due: none

Add version 0.2.0
  CHANGELOG.md
Due: none

Disable autosync for labels
  .github/labeler.yml
  .github/workflows/pr-auto-labeler.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add changelog config
  .github/release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add wheel build job
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add documentation section to auto changelog
  .github/release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add python build as release dependency
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Rename package
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  CONTRIBUTING.md
Due: none

Add image and fix config
  docs/conf.py
  docs/development/packaging.md
  docs/index.md
  docs/static/qgis-deployment-toolbelt_cli_help.png
  docs/usage/how_to_use.md
  docs/usage/installation.md
Due: linter, basic-test
