Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Fix undefined response_body
  qgis_deployment_toolbelt/utils/simple_http_client.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

rm duplicate code
  qgis_deployment_toolbelt/utils/simple_http_client.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

rm useless change
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Factorize ProxyHandler and cache it to improve perfs
  qgis_deployment_toolbelt/utils/file_downloader.py
  qgis_deployment_toolbelt/utils/proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: broken import because rebase
  qgis_deployment_toolbelt/utils/proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improvement: if Linux, add distribution name and version to log
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improvement: log how QDT working folder is determined
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Move QDT subfolders to generic job
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

example: rm custom QDT working folder
  examples/scenarios/demo-scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

improvement: store QD working folder and scenario.metadata.id in environment variables
  qgis_deployment_toolbelt/commands/deployment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

change: use QDT working folder as root and move downloaded profiles (repositories) into a subfolder
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto: convert scenario in dataclasses
  qgis_deployment_toolbelt/scenarios/mdl_scenario.py
  qgis_deployment_toolbelt/scenarios/mdl_scenario_metadata.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improvement: add custom exception for invalid scenario
  qgis_deployment_toolbelt/exceptions.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.30.0-beta1
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

refacto: make get_proxies always returning a dict
  qgis_deployment_toolbelt/utils/proxies.py
  tests/test_utils_proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto: use requests to download file
  qgis_deployment_toolbelt/utils/file_downloader.py
  tests/test_utils_file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto: use requests to retrieve release from GH
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

remove: unused get proxy_handler
  qgis_deployment_toolbelt/utils/proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

remove: simple http client
  qgis_deployment_toolbelt/utils/simple_http_client.py
  tests/test_utils_simple_http_client.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: type hint
  qgis_deployment_toolbelt/utils/check_image_size.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature: add file size to downloaded file
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature: add log filepath on exit error
  qgis_deployment_toolbelt/utils/bouncer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tooling: add SonarCloud badge
  README.md
Due: none

tooling: add SonarCloud configuration file
  sonar-project.properties
Due: build-wheel, build-win-exe, build-bin-debian

cleanup: dev script and typos in doc
  docs/guides/howto_windows_sign_executable.md
  docs/usage/profile.md
  examples/qdt-files.json
  examples/scenarios/demo-scenario-http.qdt.yml
  tests/dev/dev_qdt_files_reader.py
Due: linter, basic-test

docs: add how to generate qdt-files.json
  docs/usage/profile.md
Due: none

fix: type hint
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature: remove everything in destination folder before downloading
  qgis_deployment_toolbelt/profiles/remote_http_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: add gitignore guide and sample
  docs/usage/profile.md
  examples/.gitignore
Due: none

docs: add qdt-fils.json for official examples profiles
  examples/qdt-files.json
Due: build-wheel, build-win-exe, build-bin-debian

enhancement: make sure to quote URL
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature: add util to make sure an URL has a trailing slash
  qgis_deployment_toolbelt/utils/formatters.py
  tests/test_utils_formatters.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature: improve parsing and downloading remote files
  qgis_deployment_toolbelt/profiles/remote_http_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: fix headers level
  docs/usage/profile.md
Due: none

release: bump version to 0.30.0-beta2
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

feature: add function name to log
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: disable custom LOCAL_WORK_DIR for demo scenario
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

cleanup: dev script
  .gitignore
  tests/dev/dev_qdt_files_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tests: add more fixtures scenarios
  tests/fixtures/scenarios/good_scenario_splash_screen_remove.yml
  tests/fixtures/scenarios/good_scenario_with_unexisting_jobs.yml
Due: build-wheel, build-win-exe, build-bin-debian

fix: convert ini_file from Path to ConfigParser when switch is False
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
