Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Fix fake path
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Unsetenv before try default value
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve test reliability
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to 0.22.1
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Move filter_profiles_folder and set_ui_customization_enabled in generic job
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use mutualized methods
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Refactorize job splash screen to handle only downloaded profiles
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docstrings
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm os check
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to version 0.22.2
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Allow manual trigger
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Use QGIS LTR 3.28.4 path as default
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to version 0.22.3
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Extend unit tests againts file downloader
  tests/test_utils_file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add test to utils/file_downloader.py
  tests/test_utils_file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use glob to automatically include jobs docs in toctree
  docs/jobs/index.md
Due: none

Update index.md
  docs/jobs/index.md
Due: none

Docs: use glob to automatically include jobs docs in toctree (#254)
  docs/jobs/index.md
Due: none

Homogeneize docstrings
  qgis_deployment_toolbelt/profiles/local_git_handler.py
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add sample script to test local git repos
  tests/dev/dev_dulwich_local.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix help run
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Handle local git repos
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add module to handle local git repositories
  qgis_deployment_toolbelt/profiles/__init__.py
  qgis_deployment_toolbelt/profiles/local_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add sample for local repo
  docs/jobs/profiles_manager.md
Due: none

typo
  docs/jobs/shortcuts_manager.md
Due: none

Exclude local plugins from download
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add copy method for local plugns
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add method to filter on copiable plugins
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add missing url attribute on plugin
  docs/schemas/profile/qgis_plugin.json
Due: build-wheel, build-win-exe, build-bin-debian

Improve log and copy path
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add info
  docs/jobs/profiles_manager.md
Due: none

Add method to get uri (url or path)
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add test against local plugin
  tests/test_qplugin_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix fixture folder
  tests/test_qplugin_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rename copied archive to make it consistent for plugin sync
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Test file:// protocol prefix
  tests/test_qplugin_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump version to 0.23.0
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add 0.23.0 version
  CHANGELOG.md
  docs/usage/installation.md
  scenario.qdt.yml
Due: none

Improve log message during plugin version comparison
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Set dulwich minimal version to prevent bug
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian
