Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Fixed bugs when icon and qgis_path keys are not specified in the scenario file
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add descriptions on the return of the get_qgis_path and get_icon_path functions
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add integration test
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

check is not an option but a subcommand
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

rm sync mode from other branch still in WIP
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add job documentation
  docs/index.md
  docs/jobs/index.md
  docs/jobs/splash_screen_manager.md
Due: none

Add typing-extensions for Python < 3.11
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Add module to handle qdt profile
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add coverage report in terminal
  setup.cfg
Due: build-wheel, build-win-exe, build-bin-debian

Add utils to normalize and escape paths
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add options documentation
  docs/jobs/splash_screen_manager.md
Due: none

Add job to sample scenario
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add module to manipulate qdt profile
  qgis_deployment_toolbelt/profiles/qdt_profile.py
  requirements/base.txt
  tests/fixtures/profiles/good_profile_complete.json
  tests/fixtures/profiles/good_profile_minimal.json
  tests/test_qdt_profile_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add doc about the new job
  docs/index.md
  docs/jobs/index.md
  docs/jobs/splash_screen_manager.md
Due: none

Handle remove option
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Make splash property more robust
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add new job to sample
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add ability to enable/disable ui customization
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add job to manage splash screen per profile
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Make method more generic
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Handle cases where section or option are missing
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add method to set splash screen
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm unrecognized option
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Clean up
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Do not duplicate statics
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

disable multiprocessing doc build
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Bump to version 0.11.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Deploy doc only on main or tags
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Install documentation requirements before pip licenses
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Install ghp-import only at deploy step
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

try without sphinx-typehint
  docs/conf.py
  requirements/documentation.txt
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add comments
  docs/conf.py
  requirements/documentation.txt
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Restore multiprocessing for build
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Restore job order
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix version syntax
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

chmod cmd
  docs/usage/installation.md
Due: none

replace the variable scenario by scenario_filepath
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

add a unit test when the default or specified scenario file does not exist
  tests/test_cli_main.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

add a click.option to check the validity of the scenario file
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

add test_main_run_with_check_validity_option unit test to test the check_validity option
  tests/test_cli_main.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
