Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Add function to remove an environment variable on Windows
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add proper function to set environment var on Windows
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix bad parameter
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix test
  tests/test_job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Force stringify
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm dependency to py-setenv
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Use built-in methods
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix bad env var value type (must be a str)
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve docstring and use user/sys keys as globals
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Remove rich dependency
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Rm rich dependency
  qgis_deployment_toolbelt/__about__.py
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/deployment.py
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to 0.17.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Add doc page about environment variable job
  docs/jobs/environment_variables.md
  docs/jobs/index.md
Due: none

Fix message when there is no newer version
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add helper to handle common error on exe name
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add job env var options
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Handle remove action
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve options validation
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Get env var before deleting
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix exception type
  tests/test_job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Make env vars more explicit
  docs/jobs/environment_variables.md
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: linter, basic-test

Test deletion
  tests/test_job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Support more value types
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  tests/test_job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump version to 0.18.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Add missing step of commit
  docs/development/releasing.md
Due: none

typos
  docs/jobs/environment_variables.md
  qgis_deployment_toolbelt/utils/slugger.py
Due: linter, basic-test

Remove unused modules (dead code)
  qgis_deployment_toolbelt/__init__.py
  qgis_deployment_toolbelt/utils/journalizer.py
  qgis_deployment_toolbelt/utils/logger.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

cleanup
  tests/test_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add test against bouncer util
  tests/test_utils_bouncer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Clean docstrings
  qgis_deployment_toolbelt/utils/bouncer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Clean docstring
  qgis_deployment_toolbelt/exceptions.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Create dedicated test for generic job
  tests/test_job_environment_variables.py
  tests/test_job_generic.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Check input options type
  qgis_deployment_toolbelt/jobs/generic_job.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Switch to a generic Job object with inheritance
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add custom exceptions for job validation
  qgis_deployment_toolbelt/exceptions.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use custom exceptions in generic job
  qgis_deployment_toolbelt/exceptions.py
  qgis_deployment_toolbelt/jobs/generic_job.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Inherit from generic job
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix missing arg
  qgis_deployment_toolbelt/jobs/generic_job.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix type error
  qgis_deployment_toolbelt/exceptions.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
