Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Version
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Change settings path
  tests/test_cli_check.py
  tests/test_cli_clean.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

use pytest as module
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

CI - Switch from GitLab to GitHub (#1)
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  .github/workflows/lint.yml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/tests.yml
  .gitlab-ci.yml
  azure-pipelines.yml
  azure-pipelines_export.json
  docs/development/documentation.md
  qgis_deployment_toolbelt/__about__.py
  setup.py
  tests/test_cli_check.py
  tests/test_cli_clean.py
Due: linter, basic-test

Fix missing dep
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: build-wheel, build-win-exe, build-bin-debian

Run test when new dependency is proposed
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Disable tests for now
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Bump deps
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Disable debug mode
  .env.example
  .github/workflows/tests.yml
  tests/test_cli_check.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use getpass.getuser instead of incomplete getlogin
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Replace again
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add codecov config
  codecov.yml
Due: build-wheel, build-win-exe, build-bin-debian

Improve dependencies management
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  .github/workflows/tests.yml
  docs/development/ubuntu.md
  docs/development/windows.md
  requirements.txt
  requirements/base.txt
Due: none

Dependabot include setup.py
  .github/dependabot.yml
Due: build-wheel, build-win-exe, build-bin-debian

Restore base requirements
  requirements.txt
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Remove unused deps
  requirements/base.txt
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Let dependabot control over setup.py
  .github/dependabot.yml
Due: build-wheel, build-win-exe, build-bin-debian

Use base
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

restore base
  docs/development/ubuntu.md
  docs/development/windows.md
Due: none

Click log is used
  requirements/base.txt
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Deps/cleanup (#13)
  .github/workflows/documentation.yml
  docs/development/ubuntu.md
  docs/development/windows.md
  requirements.txt
  requirements/base.txt
  setup.py
Due: linter, basic-test

Misc docs
  README.md
  docs/misc/credits.md
Due: none

Fix missing deps
  .github/workflows/build.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add flake8 hook
  .pre-commit-config.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Add pre-commit.ci configuration
  .pre-commit-config.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Update documentation.txt
  requirements/documentation.txt
Due: build-wheel, build-win-exe, build-bin-debian

Example plugins configuration
  conf/plugins.yml
Due: build-wheel, build-win-exe, build-bin-debian

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Bump deps
  requirements/development.txt
  requirements/packaging.txt
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add winshell example
  requirements/base.txt
  tests/dev/win_create_shortcut_winreg.py
  tests/dev/win_create_shortcut_winshell.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Reduce hooks update frequency
  .pre-commit-config.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Fix dep
  requirements/documentation.txt
Due: build-wheel, build-win-exe, build-bin-debian

Rm click-log dep
  qgis_deployment_toolbelt/utils/journalizer.py
  requirements/base.txt
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

WIP plugins group
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/cli_qgis_plugins.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add setenv as dep
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Add environment setup cmd
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/cli_environment.py
  qgis_deployment_toolbelt/utils/environment_manager.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
