Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Upgrade
  requirements/documentation.txt
Due: build-wheel, build-win-exe, build-bin-debian

Complete schema
  docs/schemas/profile/qgis_plugin.json
  docs/schemas/profile/qgis_profile.json
Due: build-wheel, build-win-exe, build-bin-debian

Add details about what QDT expects
  docs/usage/profile.md
Due: none

Switch to furo them
  docs/conf.py
  requirements/documentation.txt
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Clean dev dependencies
  requirements/development.txt
Due: build-wheel, build-win-exe, build-bin-debian

Fix hyperlink syntax
  docs/usage/how_to_use.md
Due: none

Fix schema URL
  docs/usage/how_to_use.md
Due: none

Typo
  docs/schemas/profile/qgis_profile.json
  docs/schemas/scenario/schema.json
Due: build-wheel, build-win-exe, build-bin-debian

Fix QGIS bin path retriever
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Autoprefix environment variable with QDT
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to 0.16.2
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Rm clean and check subcommand
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/cli_check.py
  qgis_deployment_toolbelt/commands/cli_clean.py
  tests/test_cli_check.py
  tests/test_cli_clean.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm unused dependency
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Rm subcommand regs
  .github/workflows/tests.yml
  docs/usage/cli.md
Due: none

Build on MacOS
  .github/workflows/build_release.yml
  builder/pyinstaller_build_macos.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

use Ubuntu 22.04
  .github/workflows/lint.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix package folder removing ref to @geotribu
  builder/pyinstaller_build_macos.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Ignore commented lines
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm unused import
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Change executable name
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Exit nicely
  qgis_deployment_toolbelt/commands/deployment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Replace click by argparse
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use argparse cli instead of click and add qdt
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix release asset
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Adapt tests
  tests/test_cli_main.py
  tests/test_cli_upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Replace upgrade command with argparse
  qgis_deployment_toolbelt/commands/__init__.py
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm click direct ref
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Move main logic to deployment module
  qgis_deployment_toolbelt/commands/__init__.py
  qgis_deployment_toolbelt/commands/deployment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Adapt doc to work with argparse
  docs/conf.py
  docs/usage/cli.md
  docs/usage/how_it_works.md
  requirements/documentation.txt
Due: linter, basic-test

Rm click refs
  qgis_deployment_toolbelt/utils/bouncer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

If no args, run deployment
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix executable name
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add qdt alias to integration test
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Exit if os is not part of release assets
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix git URL
  docs/development/ubuntu.md
Due: none

Simplify commands
  docs/development/ubuntu.md
Due: none

Minor improvments
  docs/development/ubuntu.md
  docs/development/windows.md
Due: none

Make globals conditional
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix scope
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Move win env var refresh to win32 utils
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
