Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Fix default QGIS profiles path on win32
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Remove subcommand env-setup
  docs/usage/cli.md
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/cli_environment.py
Due: linter, basic-test

typo
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Rename settings schema too
  docs/schemas/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Fix fixture
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Extend unit test
  tests/test_jobs_launch.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Remove print statement
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Start changelog for 0.7.0
  CHANGELOG.md
Due: none

clean up
  qgis_deployment_toolbelt/jobs/orchestrator.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Unpin dulwich
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Add dev scripts to list installed softwares
  tests/dev/dev_list_qgis_installs.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Handle situation where QGIS profiles folder doesn't exist
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add minimal step echo
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Handle none work_dir
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Handle icon path missing
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve options structure
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Revamp fixture too
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Revamp shortcut config in scenario
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  scenario.qdt.yml
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add shortcut creation logic
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add method to prepare arguments for shortcut
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add method to get shortcut icon path
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to version 0.7.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Support QGIS profiles folder set by QGIS_CUSTOM_CONFIG_PATH environment variable
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

With dulwich, use stringified path, not pathlib.path
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use .cache/qgis-deployment-toolbelt/tests
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add basic test for main cli
  tests/test_cli_main.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use dulwich 0.20.35
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Fix labeler token rights
  .github/workflows/pr-auto-labeler.yml
Due: build-wheel, build-win-exe, build-bin-debian

Bump to version 0.8.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Fix error when icon_path is not defined
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Extend shortcut tests
  tests/test_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix bad ref
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Start version 0.9.0
  CHANGELOG.md
Due: none

Use ~ char in scenario to point to user home directory
  scenario.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

clean up
  tests/test_jobs_launch.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add minimal util to convert str to bool in Python
  qgis_deployment_toolbelt/utils/__init__.py
  qgis_deployment_toolbelt/utils/str2bool.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add a minimal util to retrieve env var on Windows directly registry
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
