Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

feat(install qgis): don't look in default dir if search_path option is defined
  docs/jobs/qgis_installation_finder.md
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test

feat(installed qgis): add new option `search_paths`: - we look for QGIS in paths defined in this option
  docs/jobs/qgis_installation_finder.md
  docs/schemas/scenario/jobs/qgis-installation-finder.json
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test

feat(installed qgis): use expanduser and getenv for search_paths option
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(install qgis): invalid log if first value in version_priority is not found
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve(perf): move compiled regex to constants
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

wip
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

doc(profile sync): add comment about environment variable conversion
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(profile sync): force copy if sync_mode is overwirte
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.35.3
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

update(tooling): add new line for JSON files in VS Code
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

update(docs): rename and improve some JSON schemas
  docs/schemas/profile/qgis_profile.json
  docs/schemas/scenario/jobs/qdt_job_base.json
  docs/schemas/scenario/qdt_scenario.json
Due: build-wheel, build-win-exe, build-bin-debian

feat(pac): add file for tests
  tests/fixtures/pac/proxy.pac
Due: build-wheel, build-win-exe, build-bin-debian

feat(proxies): use pypac to use PAC file:\n-use default system PAC file\n-use PAC file from environment variable
  qgis_deployment_toolbelt/commands/upgrade.py
  qgis_deployment_toolbelt/profiles/remote_http_handler.py
  qgis_deployment_toolbelt/utils/file_downloader.py
  qgis_deployment_toolbelt/utils/proxies.py
  requirements/base.txt
  tests/dev/dev_download_file_proxies.py
  tests/test_utils_proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

doc(pac): add information about PAC file use
  docs/guides/howto_behind_proxy.md
Due: none

feat(doc): update for PAC file use and new priority
  docs/guides/howto_behind_proxy.md
  docs/usage/settings.md
Due: none

feat(proxies): update priority: 1. QDT_PROXY_HTTP 2. System settings ---> pac or raw defined 3. HTTP_PROXY
  qgis_deployment_toolbelt/utils/proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(requirements): update order for A-z
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

feat(pypac): add tldextract cache directory in pyinstaller
  .github/workflows/build_release.yml
  builder/pyinstaller_build_macos.py
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
  builder/tldextract_update.py
  docs/development/packaging.md
Due: linter, basic-test

feat(builder): call tldextract in build scripts
  .github/workflows/build_release.yml
  builder/pyinstaller_build_macos.py
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
  builder/tldextract_update.py
  docs/development/packaging.md
Due: linter, basic-test

fix(scenario): qgis-installation-finder accept if_not_found value warning and not warn.
  examples/scenarios/demo-scenario-http.qdt.yml
  examples/scenarios/demo-scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

feat(changelog): update for 0.36.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

improve(plugins_sync): handle cases where a downloaded lpugin is not really a zip
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(log): limit pyad to 0.6.2 for correct log level
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

feat(proxy): add docstring for os_env_proxy wrapper
  qgis_deployment_toolbelt/utils/proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(proxies): define environment variable for proxy use for git clone - define wrapper for environment variable definition and backup - use wrapper for all function using porcelain for git command
  qgis_deployment_toolbelt/profiles/profiles_handler_base.py
  qgis_deployment_toolbelt/utils/proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(plugin download): add application/x-zip-compressed for header Accept
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(plugin download): add application/octet-stream, multipart/x-zip for content_type
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(chore): fix documentation homepage
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

update(ci): use strict YAML array
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

update(chore): use new documentation URL
  .github/ISSUE_TEMPLATE/02-feature-request.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/robots.txt
  docs/usage/scenario.md
  tests/test_utils_formatters.py
Due: linter, basic-test

update(chore): use new GHCR package URL
  docs/usage/installation.md
Due: none

feat(changelog): update for 0.36.1
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

fix(test): make sure dl_url is a string
  tests/test_cli_upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(docs): rm duplicate line in gitignore guide
  docs/usage/profile.md
  examples/.gitignore
Due: none

addt(docs): add script todownload latest QDT version with PowerShell
  docs/guides/howto_download_latest_qdt_exe.md
  docs/index.md
  scripts/qdt_dowloader.ps1
Due: none

fix(docs): typos
  docs/guides/howto_download_latest_qdt_exe.md
Due: none

fix(proxy): HTTP_PROXY env variable was not removed after os_env_proxy wrapper: - we restored only if variable defined - need to remove if no variable defined
  qgis_deployment_toolbelt/utils/proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
