Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

refacto: rename to avoid module conflict
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

quality(sonar): use _ for unpacked but unused vars
  tests/test_cli_main.py
  tests/test_cli_rules_context_export.py
  tests/test_cli_upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

quality(sonar): remove unused code block
  tests/test_cli_main.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

quality(sonar): remove unused block code
  tests/test_cli_rules_context_export.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs(rules): add export command in rules section
  docs/reference/qdt_profile.md
  docs/usage/cli.md
  docs/usage/download_section.md
Due: none

git: restore file to main state
  docs/usage/download_section.md
Due: none

release: bump version to 0.34.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

feature(rules): retrieve user extended data using win32 API
  qgis_deployment_toolbelt/profiles/rules_context.py
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: retrieve extended user data only on Windows
  qgis_deployment_toolbelt/profiles/rules_context.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature(rules): add operating system release
  qgis_deployment_toolbelt/profiles/rules_context.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(windows): try/except around local groups retrieval for users without local sessions
  qgis_deployment_toolbelt/utils/user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto: consider pyad as systematically installed
  qgis_deployment_toolbelt/utils/user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: get_user_domain_groups should return a list of str
  qgis_deployment_toolbelt/utils/user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.34.1
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

dev: add scripts to play with win32 API
  tests/dev/dev_win32_user_info.py
  tests/dev/dev_win_user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs(download): fix grids, warn about MacOS version and improve download section resiliency
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs(examples): improve button look and feel
  docs/misc/examples.md
Due: none

fix(profiles): profiles listing was returning the unfiltered list
  qgis_deployment_toolbelt/jobs/generic_job.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tests(profiles): test profiles listing with a fixture profile which is never deployed
  tests/fixtures/profiles/good_profile_rules_never_deployed.json
  tests/test_job_generic.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.34.2
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

wip
  examples/profiles/Viewer Mode/QGIS/QGIS3.ini
Due: build-wheel, build-win-exe, build-bin-debian

fix(rules): handle cases where get user domain groups make crash QDT during rules context generation
  qgis_deployment_toolbelt/profiles/rules_context.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Revert "wip"
  examples/profiles/Viewer Mode/QGIS/QGIS3.ini
Due: build-wheel, build-win-exe, build-bin-debian

chore(deps): set minimal version of PyInstaller
  requirements/packaging.txt
Due: build-wheel, build-win-exe, build-bin-debian

fix(syntax): double-quoting type hint with conditional imported module
  qgis_deployment_toolbelt/utils/user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve(user_groups): enforces user domain groups retrieval using user guid
  qgis_deployment_toolbelt/utils/user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature(ci): test export-rules-context in different supported environments
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.34.3
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

improve(docs): add --prune option to tree for excluding empty folders
  docs/guides/howto_publish_http.md
Due: none

refacto(http-handler): modularize tree files parser
  qgis_deployment_toolbelt/profiles/remote_http_handler.py
  qgis_deployment_toolbelt/utils/tree_files_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature(tree-files): handle files with empty folders
  qgis_deployment_toolbelt/utils/tree_files_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve(test): add fixtures and dedicated test to qdt-files.json parsing
  examples/qdt-files.json
  tests/fixtures/treefiles/qdt-files_debian_tree_2-1-0.json
  tests/fixtures/treefiles/qdt-files_debian_tree_2-1-1.json
  tests/fixtures/treefiles/qdt-files_from_debian.json
  tests/fixtures/treefiles/qdt-files_from_ubuntu.json
  tests/test_tree_qdt-files_json.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve(test): fake a case with an empty directory but still with contents attribute
  tests/fixtures/treefiles/qdt-files_from_ubuntu.json
Due: build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.34.4
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

improve(docs): restore linkify (MyST parser extension)
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(io): explicitly declare UTF-8 encoding in IO operations
  qgis_deployment_toolbelt/plugins/plugin.py
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
  qgis_deployment_toolbelt/scenarios/scenario_reader.py
  qgis_deployment_toolbelt/shortcuts/shortcuts.py
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.34.5
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Add class method to create QdtProfile from folder
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add subcommand extract (qgis2qdt)
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/extract.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
