Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Add PyPi badges
  README.md
Due: none

Bump to 0.6.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Minor fixes
  docs/conf.py
  docs/development/documentation.md
Due: linter, basic-test

Add shortcuts constants
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix opersys value for Windows
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add extension, icon extensions and forbidden chars
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Minimal tests against package constants
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix tests
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix test instance of none
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

rm bad import
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add shortcut logic
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add unit test for shortcut creation
  tests/test_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add pytest config to VS Code settings
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Extend matrix strategy to test agains MacOS and Windows
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Use tuple of None by default
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump & pin pyinstaller hooks
  requirements/packaging.txt
Due: build-wheel, build-win-exe, build-bin-debian

Add pywin32 as specific Windows dependency
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Fix path resolve
  tests/test_cli_check.py
  tests/test_cli_clean.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Pin dulwich version
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Add dependencies label
  .github/labeler.yml
Due: build-wheel, build-win-exe, build-bin-debian

Move shortcut name validation to dataclass
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add log
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix condition
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

For now, disable test for other os than win32
  tests/test_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Create job to manage shortcuts
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Import ApplicationShortcut at module level
  qgis_deployment_toolbelt/profiles/__init__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Make exclude_profiles a list
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Dev script
  tests/dev/win_create_shortcut_pycrosskit.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use opersys condition instead of an attribute
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add options validation
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Clean former credits
  qgis_deployment_toolbelt/scenarios/scenario_reader.py
  tests/test_cli_main.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Minor docstring fix
  tests/test_cli_check.py
  tests/test_cli_clean.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm job versions
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add minimal main cli
  tests/test_cli_main.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix min help test
  tests/test_cli_main.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rename environment_variables into settings
  docs/schemas/environment_variables.json
  docs/schemas/schema.json
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/cli_environment.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
  qgis_deployment_toolbelt/scenarios/scenario_reader.py
  scenario.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
  tests/test_scenario_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

hotfix renaming too hard
  qgis_deployment_toolbelt/commands/cli_environment.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Do not duplicate source
  setup.cfg
Due: build-wheel, build-win-exe, build-bin-debian

Fix clean command and make frequency configurable through env var
  qgis_deployment_toolbelt/commands/cli_clean.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Minor clean up
  qgis_deployment_toolbelt/commands/cli_clean.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
