Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

generalize use of GenericJob
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

clean up
  tests/test_jobs_launch.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add test against path normalizer
  qgis_deployment_toolbelt/utils/win32utils.py
  tests/test_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Apply ruff autofixes
  tests/test_cli_upgrade.py
  tests/test_job_generic.py
  tests/test_utils.py
  tests/test_utils_images_size.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm former validations method
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm unused import
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add ruff to git hooks
  .pre-commit-config.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Use fix-only mode
  .pre-commit-config.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Fix builtin
  qgis_deployment_toolbelt/utils/check_image_size.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm sys path edit
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add how to grab a plugin_id
  docs/static/repository_plugins_plugin_id.webp
  docs/usage/profile.md
Due: none

Improve str2bool helper
  qgis_deployment_toolbelt/utils/str2bool.py
  tests/test_utils.py
  tests/test_utils_str2bool.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add environment variables
  docs/usage/cli.md
  qgis_deployment_toolbelt/commands/deployment.py
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test

Add dev extras_require
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Download remote scenario
  qgis_deployment_toolbelt/commands/deployment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add remote to example
  docs/usage/how_to_use.md
Due: none

Fix when a simple path is passed
  qgis_deployment_toolbelt/commands/deployment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to version 0.19.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Add profiles manager job documentation
  docs/jobs/index.md
  docs/jobs/profiles_manager.md
Due: none

Check if operating system is supported
  qgis_deployment_toolbelt/commands/deployment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add profiles states
  docs/jobs/profiles_manager.md
Due: none

Fix QDT_LOCAL_WORKING_FOLDER environment variable handling
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add tests against get_qdt_working_folder
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

cleanup
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rename LOCAL_QDT_WORKDIR into LOCAL_WORK_DIR
  docs/schemas/scenario/settings.json
  docs/usage/cli.md
  qgis_deployment_toolbelt/constants.py
  scenario.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
  tests/test_constants.py
Due: linter, basic-test

Start profile version comparison
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add versions comparison method
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Test profile version compare
  tests/test_qdt_profile_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add pyupgrade as git hook
  .pre-commit-config.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Set python 3.10 as minimal version
  .pre-commit-config.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Add funding page
  docs/conf.py
  docs/index.md
  docs/misc/credits.md
  docs/misc/funding.md
  requirements/documentation.txt
Due: linter, basic-test

Add funders logos
  docs/misc/funding.md
  docs/static/logo_charente_eaux.png
  docs/static/logo_etablissement_public_loire.png
  docs/static/logo_oslandia.png
Due: none

Improve profiles workflow
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Reorder git hooks
  .pre-commit-config.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Fix typing
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use lists of QdtPorfiles objects
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Handle overwrite mode
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Support only_new_version and only_different_version
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Temp disable failing test
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
