Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Add dev script to work on persistent environment variable on Linux #322
  tests/dev/dev_manage_persistent_env_var_linux.py
  tests/dev/dev_manage_persistent_env_var_windows.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add shellingham as base dependency
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Fix typo
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

refacto: make git handlers more generic and resilient
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/profiles/git_handler_base.py
  qgis_deployment_toolbelt/profiles/local_git_handler.py
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

quality: enlarge tests on git handlers
  requirements/testing.txt
  tests/test_git_handler_local.py
  tests/test_git_handler_remote.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

cleanup: remove temporary files after tests running
  tests/test_qplugin_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix invalid parameter
  tests/dev/dev_dulwich_remote.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix condition
  qgis_deployment_toolbelt/profiles/git_handler_base.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix returned exception
  tests/test_git_handler_remote.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Remove duplicate code
  qgis_deployment_toolbelt/profiles/git_handler_base.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add util to determine if a folder is empty
  qgis_deployment_toolbelt/utils/check_path.py
  tests/test_utils_check_path.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fully testing git handling
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/profiles/git_handler_base.py
  qgis_deployment_toolbelt/profiles/local_git_handler.py
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
  tests/dev/dev_dulwich_local.py
  tests/dev/dev_dulwich_remote.py
  tests/test_git_handler_local.py
  tests/test_git_handler_remote.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: surround profile name with quotes to prevent space
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump version to 0.29.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Comment out QGIS_EXE_PATH
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix default scenario
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Comment out QGIS_EXE_PATH
  examples/scenarios/demo-scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Suppression et mise à jour de variables d'environnement sous Linux
  tests/dev/dev_manage_persistent_env_var_linux.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo: docsting
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Linux environment variables
  tests/dev/dev_manage_persistent_env_var_linux.py
  tests/dev/job_environment_variables_linux.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Linux envvar integration
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

ci: run bandit as well on Github
  .github/workflows/security.yml
  .gitignore
Due: build-wheel, build-win-exe, build-bin-debian

docs: add security to contributing guidelines
  CONTRIBUTING.md
Due: none

do not save report as artifact
  .github/workflows/security.yml
Due: build-wheel, build-win-exe, build-bin-debian

ci: save safety report
  .github/workflows/security.yml
Due: build-wheel, build-win-exe, build-bin-debian

fix: typo in safety install
  .github/workflows/security.yml
Due: build-wheel, build-win-exe, build-bin-debian

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

security: add bandit git hook
  .pre-commit-config.yaml
  bandit.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Update SECURITY.md
  SECURITY.md
Due: none

security: add dependencies related to security checks
  requirements/security.txt
Due: build-wheel, build-win-exe, build-bin-debian

ci: run safety scan against codebase
  .github/workflows/security.yml
  .gitignore
Due: build-wheel, build-win-exe, build-bin-debian

ci: simplify safety scan
  .github/workflows/security.yml
Due: build-wheel, build-win-exe, build-bin-debian

docs: add bandit badge
  README.md
Due: none

docs: move security page to security policy
  SECURITY.md
  docs/misc/security.md
Due: none

docs: add section describing security stakes and tools
  docs/index.md
  docs/misc/security.md
Due: none

Security: increase security scans and improve related documentation (#352)
  .github/workflows/security.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  bandit.yaml
  docs/index.md
  docs/misc/security.md
  requirements/security.txt
Due: none

docs: typos
  SECURITY.md
Due: none

Gestion des variables d'environnement sous Linux
  tests/dev/dev_manage_persistent_env_var_linux.py
  tests/dev/job_environment_variables_linux.py
  tests/test_job_environment_variables_linux.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Linux envvar intégration à QDT
  qgis_deployment_toolbelt/jobs/job_environment_variables_linux.py
  qgis_deployment_toolbelt/utils/linux_utils.py
  tests/test_job_environment_variables_linux.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
