Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

feat(ini): add test for file merge
  tests/test_qgis_ini_helper.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(integration_test): run test twice to check ini file merge
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

feat(logs): fix level for coloredlogs
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(ini): add try/except for invalid INI content in files
  qgis_deployment_toolbelt/utils/ini_interpolation.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

ci: make steps name more explicit and distinct
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

ci: fix rate limit
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.32.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

docs: remove pattern from JSON schemas
  docs/schemas/profile/qgis_plugin.json
  docs/schemas/profile/qgis_profile.json
Due: build-wheel, build-win-exe, build-bin-debian

tooling: fix plugin json schema
  docs/schemas/profile/qgis_plugin.json
Due: build-wheel, build-win-exe, build-bin-debian

docs: add how to check using git hooks
  docs/guides/howto_validate_profiles_scenarios.md
Due: none

fix(env variable): update local environment
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: add robots.txt for SEO engines
  docs/conf.py
  docs/robots.txt
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: enable zoom in mermaid diagrams
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: enable autodoc on __init__ functions
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tooling: add markdown settings for VS Code
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

docs: fix autobuild command
  .gitignore
  docs/development/documentation.md
Due: none

docs: complete validation tooling
  docs/guides/howto_validate_profiles_scenarios.md
  docs/index.md
  docs/usage/profile.md
  docs/usage/scenario.md
Due: none

docs: add video demonstrating VS Code integration
  docs/conf.py
  docs/guides/howto_validate_profiles_scenarios.md
  docs/static/extra/qdt_assisted_edition_vscode.webm
Due: linter, basic-test

docs: add a page referencing QDT projects
  docs/index.md
  docs/misc/examples.md
  docs/static/qdt_reference_github_topics_field.webp
  docs/static/qdt_reference_gitlab_topics_field.webp
Due: none

docs: move how to publish to an HTTP server in a specific guide paeg
  docs/guides/howto_publish_http.md
  docs/usage/profile.md
Due: none

tooling: add markdownlint rules
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

docs: minor fixes
  docs/guides/howto_use_custom_ssl_certs.md
  docs/index.md
  docs/usage/installation.md
Due: none

docs/add-quickstart-and-complete-installation
  docs/index.md
  docs/usage/installation.md
Due: none

release: bump version to 0.32.1
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

feat(qgis find): use QDT_PREFERRED_QGIS_VERSION env variable
  docs/jobs/qgis_installation_finder.md
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test

feat(qgis install): add unit tests for static functions
  tests/test_job_qgis_installation_finder.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

doc(qgis install): first doc version
  docs/jobs/index.md
  docs/jobs/qgis_installation_finder.md
Due: none

doc(qgis find): use z order for job enum
  docs/schemas/scenario/jobs/generic.json
Due: build-wheel, build-win-exe, build-bin-debian

feat(qgis find): check QDT_QGIS_EXE_PATH before job run
  docs/jobs/qgis_installation_finder.md
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test

feat(installed qgis): add qgis-installation-finder job
  docs/schemas/scenario/jobs/generic.json
  docs/schemas/scenario/jobs/qgis-installation-finder.json
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

doc(qgis find): use array of string for version_priority
  docs/schemas/scenario/jobs/qgis-installation-finder.json
Due: build-wheel, build-win-exe, build-bin-debian

doc(qgis install): minor updates
  docs/jobs/qgis_installation_finder.md
Due: none

Apply comment and doc suggestion
  docs/jobs/qgis_installation_finder.md
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test

feat(qgis install): default value for if_not_found to warning
  docs/jobs/qgis_installation_finder.md
  docs/schemas/scenario/jobs/qgis-installation-finder.json
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test

feat(qgis install): use QDT_OSGEO4W_INSTALL_DIR env variable for OSGEO4W install dir
  docs/jobs/qgis_installation_finder.md
  docs/usage/settings.md
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
  tests/test_job_qgis_installation_finder.py
Due: linter, basic-test

feat(qgis install): get install version for linux
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(qgis install): get version with --version
  docs/jobs/qgis_installation_finder.md
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test

feat(qgis install) : add in example and some documentation
  docs/jobs/qgis_installation_finder.md
  examples/scenarios/demo-scenario-http.qdt.yml
  examples/scenarios/demo-scenario.qdt.yml
Due: none

feat(installed qgis): raise exception if error activated
  qgis_deployment_toolbelt/exceptions.py
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
