Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Update qgis_deployment_toolbelt/utils/linux_utils.py
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Linux environment variables
  tests/dev/dev_manage_persistent_env_var_linux.py
  tests/dev/job_environment_variables_linux.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Linux envvar intégration à QDT
  qgis_deployment_toolbelt/jobs/job_environment_variables_linux.py
  qgis_deployment_toolbelt/utils/linux_utils.py
  tests/test_job_environment_variables_linux.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add shellingham as base dependency
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Suppression et mise à jour de variables d'environnement sous Linux
  tests/dev/dev_manage_persistent_env_var_linux.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Corrections flake8
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/utils/linux_utils.py
  tests/test_job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Update qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Gestion des variables d'environnement sous Linux
  tests/dev/dev_manage_persistent_env_var_linux.py
  tests/dev/job_environment_variables_linux.py
  tests/test_job_environment_variables_linux.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Linux envvar QDT integration
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix typo
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

docstring fix
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Delete tests/fixtures/tmp_file_no_writable.txt
  tests/fixtures/tmp_file_no_writable.txt
Due: build-wheel, build-win-exe, build-bin-debian

Revert "Fix flake8 warnings"
  README.md
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test

fix: ignore tmp_ file fixture
  .gitignore
Due: build-wheel, build-win-exe, build-bin-debian

docstring cleanup
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Update requirements.txt
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Fix flake8 warnings
  README.md
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test

Test envvar
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

cleanup
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tests
  tests/fixtures/qgis_ini/default_no_customization/QGIS3.ini
  tests/fixtures/tmp_file_no_writable.txt
Due: build-wheel, build-win-exe, build-bin-debian

Modifications suggested by review
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix : different argument names linux/windows
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix flake8 warnings
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

ci: use codecov upload token
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

ci: tag codecov uploads with CI matrix vars
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

tooling: modernize codecov YAML
  codecov.yml
Due: build-wheel, build-win-exe, build-bin-debian

tooling: name the codecov upload
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

tooling: flag codecov upload with unittests
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Update .gitignore
  .gitignore
Due: build-wheel, build-win-exe, build-bin-debian

refacto: remove unused methods and improve doctsrings
  qgis_deployment_toolbelt/jobs/orchestrator.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto: remove ref to qprofiles-manager replacing it by qprofiles-downloader and qprofiles-synchronizer
  examples/scenarios/demo-scenario-http.qdt.yml
  examples/scenarios/demo-scenario.qdt.yml
  scenario.qdt.yml
  tests/fixtures/scenarios/good_scenario_profiles_http.yml
  tests/fixtures/scenarios/good_scenario_profiles_only_different.qdt.yml
  tests/fixtures/scenarios/good_scenario_profiles_only_missing.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
  tests/fixtures/scenarios/good_scenario_splash_screen_remove.qdt.yml
  tests/fixtures/scenarios/good_scenario_with_unexisting_jobs.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

refacto: split qprofiles-manager in 2 jobs
  qgis_deployment_toolbelt/jobs/job_profiles_downloader.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: split qprofiles-manager into 2 jobs
  docs/jobs/index.md
  docs/jobs/profiles_downloader.md
  docs/jobs/profiles_synchronizer.md
Due: none

cleanup: remove unused option
  qgis_deployment_toolbelt/jobs/job_profiles_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
