Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, packaging

.gitlab-ci.yml:

stages:
  - lint
  - test
  - build
  - deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis_deployment_toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

before_script:
  - python -m pip install -U -r requirements/base.txt

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  image: python:3.7-slim-buster
  stage: lint
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.7-slim-buster
  stage: test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
packaging:
  image: python:3.7-slim-buster
  stage: build
  only:
    - master
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.7-slim-buster
  stage: deploy
  only:
    - master
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Add starter cli
  .pre-commit-config.yaml
  CHANGELOG.md
  builder/pyinstaller_build_windows.py
  qgis_deployment_toolbelt/__about__.py
  qgis_deployment_toolbelt/__init__.py
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/commands/__init__.py
  qgis_deployment_toolbelt/commands/cli_check.py
  qgis_deployment_toolbelt/commands/cli_clean.py
  qgis_deployment_toolbelt/utils/__init__.py
  qgis_deployment_toolbelt/utils/bouncer.py
  qgis_deployment_toolbelt/utils/journalizer.py
  qgis_deployment_toolbelt/utils/logger.py
  qgis_deployment_toolbelt/utils/proxies.py
  qgis_deployment_toolbelt/utils/slugger.py
  setup.py
  tests/__init__.py
Due: linter, basic-test

Add starter docs
  README.md
  docs/conf.py
  docs/development/contribute.md
  docs/development/documentation.md
  docs/development/history.md
  docs/development/packaging.md
  docs/development/testing.md
  docs/development/ubuntu.md
  docs/development/windows.md
  docs/index.md
  docs/misc/compatibility.md
  docs/misc/credits.md
  docs/usage/installation.md
  docs/usage/settings.md
  requirements/documentation.txt
Due: linter, basic-test

Comment out unfinished steps
  .gitlab-ci.yml
Due: basic-test, packaging

Add missing dependency
  requirements/documentation.txt
Due: packaging

Add doc hyperlink
  README.md
Due: none

Enable build step
  .gitlab-ci.yml
Due: basic-test, packaging

Enable test job
  .gitlab-ci.yml
Due: basic-test, packaging

Use Python 3.8
  .gitlab-ci.yml
Due: basic-test, packaging

Remove old credentials
  qgis_deployment_toolbelt/commands/cli_check.py
  qgis_deployment_toolbelt/commands/cli_clean.py
Due: linter, basic-test, packaging

Enable deploy as python package
  .gitlab-ci.yml
Due: basic-test, packaging

Add napoleon (docstring style)
  docs/conf.py
  requirements/documentation.txt
Due: linter, basic-test, packaging

Fix python version
  docs/development/windows.md
Due: none

Fix builder options
  .gitignore
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
Due: linter, basic-test, packaging

Fix CI
  .gitignore
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, packaging

Add minimal settings management
  .env.example
  docs/usage/settings.md
  qgis_deployment_toolbelt/cli.py
  requirements/base.txt
Due: linter, basic-test

Add build step for executable on windows
  .gitlab-ci.yml
Due: basic-test, packaging

Fix job dependency
  .gitlab-ci.yml
Due: basic-test, packaging

Build debian bin
  .gitlab-ci.yml
Due: basic-test, packaging

Use virtualenv
  .gitlab-ci.yml
Due: basic-test, packaging

Revert "Use virtualenv"
  .gitlab-ci.yml
Due: basic-test, packaging

Use virtualenv only for debian bin
  .gitlab-ci.yml
Due: basic-test, packaging

Change tags
  .gitlab-ci.yml
Due: basic-test, packaging

Change tag
  .gitlab-ci.yml
Due: basic-test, packaging

Do not run test everyt time
  .gitlab-ci.yml
Due: basic-test, packaging

Add Azure Pipelines to get a windows CI working
  azure-pipelines.yml
Due: packaging

Suspend Oslandia shared runner for Windows
  .gitlab-ci.yml
Due: basic-test, packaging

Add Azure Pipeline export
  azure-pipelines_export.json
Due: packaging

Add Azure badge
  README.md
Due: none

Bump deps
  requirements/base.txt
  requirements/development.txt
  requirements/packaging.txt
Due: packaging

Add minimal unit tests
  tests/test_cli_check.py
  tests/test_cli_clean.py
Due: linter, basic-test, packaging

rename
  azure-pipelines.yml
Due: packaging

Add script to create windows shortcut
  tests/dev/win_create_shortcut.py
Due: linter, basic-test, packaging

Start plugins downloader
  qgis_deployment_toolbelt/commands/cli_qgis_plugins.py
  qgis_deployment_toolbelt/plugins/__init__.py
  qgis_deployment_toolbelt/plugins/plugin_downloader.py
  qgis_deployment_toolbelt/profiles/__init__.py
  tests/fixtures/plugins_316_test.xml
  tests/test_qgis_plugins_downloader.py
Due: linter, basic-test, packaging

Bump precommit
  .pre-commit-config.yaml
Due: packaging

Add autolabeler and dependabot
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/pr-auto-labeler.yml
Due: packaging

Add linter and doc builder
  .github/workflows/documentation.yml
  .github/workflows/linter.yml
Due: packaging

Replace gitlab ref by github
  docs/development/documentation.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Remove gitlab configuration
  .gitlab-ci.yml
Due: basic-test, packaging

Push new workflows
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/linter.yml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/tests.yml
Due: packaging

Remove azure ci
  azure-pipelines.yml
  azure-pipelines_export.json
Due: packaging
