Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Remove unseless brackets
  LICENSE
Due: build-wheel, build-win-exe, build-bin-debian

Add shorter variant and spdx
  LICENSE
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Switch license from LGPL3 to Apache License 2 (#314)
  LICENSE
  qgis_deployment_toolbelt/__about__.py
  qgis_deployment_toolbelt/cli.py
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Update howto_qgis_get_plugin_id.md
  docs/guides/howto_qgis_get_plugin_id.md
Due: none

Plugin search
  docs/static/plugin_search.png
Due: build-wheel, build-win-exe, build-bin-debian

Fix missing shortcut template in packaging
  builder/pyinstaller_build_macos.py
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Restore onefile option
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix path to shortcut template in PyInstaller pkg
  qgis_deployment_toolbelt/profiles/shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve executable output name
  .gitignore
  builder/pyinstaller_build_macos.py
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Adapt with new package name
  docs/development/packaging.md
Due: none

Replace dots by hyphens
  builder/pyinstaller_build_macos.py
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Upload build environment report
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

typo
  docs/development/packaging.md
Due: none

Update VS Code config
  .vscode/extensions.json
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

refacto: move shortcuts related code into specific subpkg
  builder/pyinstaller_build_macos.py
  builder/pyinstaller_build_ubuntu.py
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  qgis_deployment_toolbelt/profiles/__init__.py
  qgis_deployment_toolbelt/shortcuts/__init__.py
  qgis_deployment_toolbelt/shortcuts/shortcut_freedesktop.template
  qgis_deployment_toolbelt/shortcuts/shortcuts.py
  tests/test_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve test clean up
  tests/test_utils_check_path.py
  tests/test_utils_file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Type hint improvements
  qgis_deployment_toolbelt/commands/upgrade.py
  qgis_deployment_toolbelt/utils/str2bool.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to 0.27.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Renamed license to match Pypi classifier
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

pypi publishing: switch to trusted publisher
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Typo in type hint
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Test against Python 3.12
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add Python 3.12 to supported versions
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Restore operating system name in final executables
  builder/pyinstaller_build_macos.py
  builder/pyinstaller_build_ubuntu.py
  builder/pyinstaller_build_windows.py
  docs/development/packaging.md
Due: linter, basic-test

Add discussion category name
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add util to format octets size into human-readable format
  qgis_deployment_toolbelt/utils/formatters.py
  tests/test_utils_formatters.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add example profile Viewer Mode
  docs/static/examples_profiles_qdt-demo_qgis_ui.png
  docs/static/examples_profiles_qdt-viewer-mode_qgis_ui.png
  examples/profiles/Viewer Mode/.gitignore
  examples/profiles/Viewer Mode/QGIS/QGIS3.ini
  examples/profiles/Viewer Mode/QGIS/QGISCUSTOMIZATION3.ini
  examples/profiles/Viewer Mode/README.md
  examples/profiles/Viewer Mode/bookmarks.xml
  examples/profiles/Viewer Mode/images/logo_qdt.ico
  examples/profiles/Viewer Mode/images/splash.png
  examples/profiles/Viewer Mode/profile.json
  examples/profiles/Viewer Mode/project_default.qgs
  examples/profiles/Viewer Mode/project_default_attachments.zip
  examples/profiles/Viewer Mode/startup_project.qgz
  examples/profiles/profiles.ini
Due: none

Add viewer mode profile to demonstration scenario
  examples/scenarios/demo-scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Improve quickstart instructions
  README.md
Due: none

Add remote menu from project
  examples/profiles/Viewer Mode/QGIS/QGIS3.ini
  examples/profiles/Viewer Mode/bookmarks.xml
Due: build-wheel, build-win-exe, build-bin-debian

Disable struct mode on ConfigParser
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix duplicate section in ini file
  examples/profiles/Viewer Mode/QGIS/QGISCUSTOMIZATION3.ini
Due: build-wheel, build-win-exe, build-bin-debian

Adapt test since url_parsed is not a property anymore
  tests/test_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto: add base git handler to be inherited
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/profiles/git_handler_base.py
  qgis_deployment_toolbelt/profiles/local_git_handler.py
  qgis_deployment_toolbelt/profiles/remote_git_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add sample dev script to manipulate dulwich and qdt
  tests/dev/dev_dulwich_remote.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typos
  docs/jobs/profiles_manager.md
Due: none

refacto: mutualize listing of installed and downloaded profiles
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix super instanciation
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
