Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Make sure destination profile folder exists
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo linter
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve reliability of profiles sync with only_missing
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to version 0.21.2
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Add default subparser
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix missing --version arg
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to version 0.21.3
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

typos
  docs/schemas/profile/qgis_plugin.json
  docs/schemas/profile/qgis_profile.json
Due: build-wheel, build-win-exe, build-bin-debian

minor change
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add property to get icon as specified into the profile.json
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Deprecates qgis_path option
  docs/schemas/scenario/jobs/shortcuts-manager.json
Due: build-wheel, build-win-exe, build-bin-debian

Rm unused method to get QGIS path
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add method to get list of downloaded profiles
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use qdt working directory
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Refacto how to get profile from shortcut param
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Refacto get shortcut icon from profile or scenario or qdt
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add log messages to expose how QDT_QGIS_EXE_PATH is set
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add line number to log format
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add --no-logfile option
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add QDT_LOGS_LEVEL to tests
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Move environment variables to settings page
  docs/usage/cli.md
  docs/usage/settings.md
Due: none

Add util to configure logger and handle rotating log file
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use getpass.getuser instead of getlogin
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Handle invalid YAML
  qgis_deployment_toolbelt/commands/deployment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Extract name and path from URL to store in QDT work dir
  qgis_deployment_toolbelt/commands/deployment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to version 0.22.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Log environment variables related to QDT
  qgis_deployment_toolbelt/jobs/orchestrator.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm lru_cache which was hiding env var
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/scenarios/scenario_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add QDT_QGIS_EXE_PATH to doc
  docs/usage/settings.md
Due: none

typo
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Move logic to download remote scenario to a specific func
  qgis_deployment_toolbelt/commands/deployment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix missing return profile object in shortcut job
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve check path to handle expand user and vars
  qgis_deployment_toolbelt/utils/check_path.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add expand user and vars feature
  qgis_deployment_toolbelt/utils/check_path.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Extend test
  tests/test_utils_check_path.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix and refactoring get_qgis_path which was failing because of bad type
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Avoid duplicate call to getenv
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Switch qgis_bin_exe_path from str type to Path
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Extend tests
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix os name for mac
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
