Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

tooling: VSCode improve YAML and JSON options
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

ci: update autolabeler to v5
  .github/labeler.yml
  .github/workflows/pr-auto-labeler.yml
Due: build-wheel, build-win-exe, build-bin-debian

feature: log details about CA bundle
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: add how to customize CA bundle to use
  docs/guides/howto_behind_proxy.md
Due: none

improve: testing download into a temporary folder
  tests/test_utils_file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tests: improve downloader testing
  tests/test_utils_file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: code duplication spotted by sonar
  tests/test_utils_file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve: add an informative log if input ini file doesn't not exist
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve: test should not modify tracked files
  tests/test_qgis_ini_helper.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: release upper pins of dependencies to reduce dependabot noise
  requirements/documentation.txt
Due: build-wheel, build-win-exe, build-bin-debian

deps: restore matplotlib for socia cards
  requirements/documentation.txt
Due: build-wheel, build-win-exe, build-bin-debian

docs: refine social cards config
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: add sitemap
  docs/conf.py
  requirements/documentation.txt
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: fix some ref errors
  docs/usage/profile.md
  docs/usage/scenario.md
Due: none

docs: ignore generated download section
  .gitignore
Due: build-wheel, build-win-exe, build-bin-debian

ci: improve docs workflow
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

refacto: add a class method to instanciate OSConfiguration
  qgis_deployment_toolbelt/constants.py
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve: use OSConfiguration dynamic instanciation instead of static dict
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tooling: enable import autocompletion in VSCode
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

docs: add supported QGIS environment variables
  docs/usage/settings.md
Due: none

fix: change refs to menu_from_projects to match new versioning scheme
  examples/profiles/Viewer Mode/profile.json
  qgis_deployment_toolbelt/plugins/plugin.py
  tests/fixtures/profiles/good_profile_complete.json
  tests/fixtures/profiles/good_sample_profile.json
  tests/test_qplugin_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: feature the new copy plugin's id button
  docs/guides/howto_qgis_get_plugin_id.md
  docs/static/plugins_repository_page_with_id.webp
  docs/static/plugins_repository_search_results.png
  docs/static/plugins_repository_source.webp
Due: none

docs: add license and reorganize table of contents
  docs/conf.py
  docs/index.md
Due: linter, basic-test

release: bump version to 0.30.1
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

refacto: rm refs to OSConfig static dict
  qgis_deployment_toolbelt/commands/deployment.py
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  qgis_deployment_toolbelt/profiles/qdt_profile.py
  qgis_deployment_toolbelt/shortcuts/shortcuts.py
  tests/test_cli_upgrade.py
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tests: run in temporary folders
  tests/test_cli_main.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto: rm dead code
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

review: rm unused monkeypatch
  tests/test_cli_main.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

review: change QDT working folder construction
  tests/test_cli_main.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

review: removed unused opersys
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.30.2
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Update qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Update qgis_deployment_toolbelt/utils/linux_utils.py
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Linux envvar integration
  qgis_deployment_toolbelt/utils/linux_utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add dev script to work on persistent environment variable on Linux #322
  tests/dev/dev_manage_persistent_env_var_linux.py
  tests/dev/dev_manage_persistent_env_var_windows.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Delete faulty useless envvar test
  tests/test_job_environment_variables_linux.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Linux envvar support
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/jobs/job_environment_variables_linux.py
  tests/dev/job_environment_variables_linux.py
  tests/test_job_environment_variables.py
  tests/test_job_environment_variables_linux.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian
