Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Disable failing test
  tests/test_job_profiles_sync.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Clean up
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Bump to version 0.20.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Use GH API to populate a download section
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Generate a download section included into install page
  docs/usage/download_section.md
  docs/usage/installation.md
Due: none

Improve content-type
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add tests against methods related to GH
  tests/test_cli_upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix docstring
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Handle GH API rate limit using github token in CI
  .github/workflows/tests.yml
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

temp log
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Using context manager to properly clean connection
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix envar was on bad step
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Rm insecure print
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use authenticated request to GH API
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add bug report issue form
  .github/ISSUE_TEMPLATE/01-report-a-bug.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add version
  .github/ISSUE_TEMPLATE/01-report-a-bug.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add more fields
  .github/ISSUE_TEMPLATE/01-report-a-bug.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add placeholder
  .github/ISSUE_TEMPLATE/01-report-a-bug.yml
Due: build-wheel, build-win-exe, build-bin-debian

typo
  docs/jobs/profiles_manager.md
Due: none

Bump to schema 2020-12
  docs/schemas/profile/qgis_plugin.json
  docs/schemas/profile/qgis_profile.json
  docs/schemas/scenario/metadata.json
  docs/schemas/scenario/schema.json
  docs/schemas/scenario/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Achieve schema for job manage-env-vars
  docs/schemas/scenario/jobs/manage-env-vars.json
Due: build-wheel, build-win-exe, build-bin-debian

Create schema for job qplugins-downloader
  docs/schemas/scenario/jobs/qplugins-downloader.json
Due: build-wheel, build-win-exe, build-bin-debian

Complete schema for job qprofiles-manager
  docs/schemas/scenario/jobs/qprofiles-manager.json
Due: build-wheel, build-win-exe, build-bin-debian

Fix validation on first array item only
  docs/schemas/scenario/jobs/generic.json
Due: build-wheel, build-win-exe, build-bin-debian

Create schema for job qplugins-synchronizer
  docs/schemas/scenario/jobs/qplugins-synchronizer.json
Due: build-wheel, build-win-exe, build-bin-debian

Add doc and schema for job shortcuts-manager
  docs/jobs/shortcuts_manager.md
  docs/schemas/scenario/jobs/generic.json
  docs/schemas/scenario/jobs/shortcuts-manager.json
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
Due: linter, basic-test

Add doc and schema for job splash-screen-manager
  docs/jobs/shortcuts_manager.md
  docs/jobs/splash_screen_manager.md
  docs/schemas/scenario/jobs/generic.json
  docs/schemas/scenario/jobs/shortcuts-manager.json
  docs/schemas/scenario/jobs/splash-screen-manager.json
Due: none

Fix #223 by copying outdated profiles when only_different option is set
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add some more tests scenarii
  tests/fixtures/scenarios/good_scenario_profiles_only_different.qdt.yml
  tests/fixtures/scenarios/good_scenario_profiles_only_missing.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix bad sync_mode
  tests/fixtures/scenarios/good_scenario_profiles_only_different.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Set only_new_version
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Bump to 0.21.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Hotfix attribute error
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to 0.21.1
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

If installed profile is not openable, just continue
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix method option
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve profile name property
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix type: not path anymore but QdtProfile
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Move profiles comparison up
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
