Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

Minor changes
  .vscode/settings.json
  qgis_deployment_toolbelt/utils/proxies.py
  qgis_deployment_toolbelt/utils/slugger.py
  tests/dev/win_create_shortcut.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add dev script to try out and sample deployment configuration file
  sample-deployment-config.json
  tests/dev/dev_manage_persistent_env_var.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

minor update of vs code config
  .vscode/extensions.json
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Ignore pfx files
  .gitignore
Due: build-wheel, build-win-exe, build-bin-debian

Add packaging page
  docs/development/packaging.md
  docs/static/executable_windows_properties_details.png
  docs/static/executable_windows_properties_signed.png
Due: none

Start factoring as a CI tool
  qgis_deployment_toolbelt/commands/cli_environment.py
  qgis_deployment_toolbelt/jobs/__init__.py
  qgis_deployment_toolbelt/jobs/environment_manager.py
  qgis_deployment_toolbelt/scenarios/__init__.py
  qgis_deployment_toolbelt/scenarios/scenario_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add sample et schema
  .vscode/settings.json
  docs/schemas/jobs/manage-env-vars.json
  docs/schemas/schema.json
  tests/fixtures/sample-scenario.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix schema path
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Remove useless requirements file
  requirements.txt
  requirements/base.txt
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Remove requirements/base refs
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  .github/workflows/tests.yml
  docs/development/ubuntu.md
  docs/development/windows.md
Due: none

clena up
  CONTRIBUTING.md
Due: none

Create basic scenario reader
  qgis_deployment_toolbelt/scenarios/scenario_reader.py
  tests/fixtures/scenarios/good_scenario_sample.yml
  tests/test_scenario_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  qgis_deployment_toolbelt/jobs/__init__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm viewcode
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve sample
  tests/fixtures/scenarios/good_scenario_sample.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add scenario and firts usable JSON schema
  docs/schemas/environment_variables.json
  docs/schemas/jobs/generic.json
  docs/schemas/jobs/manage-env-vars.json
  docs/schemas/schema.json
  tests/fixtures/scenarios/good_scenario_sample.yml
Due: build-wheel, build-win-exe, build-bin-debian

Store metadata in dedicated array
  docs/schemas/environment_variables.json
  docs/schemas/jobs/generic.json
  docs/schemas/jobs/manage-env-vars.json
  docs/schemas/metadata.json
  docs/schemas/schema.json
Due: build-wheel, build-win-exe, build-bin-debian

Apply CI mode to docs
  docs/conf.py
  docs/index.md
  docs/usage/how_it_works.md
  docs/usage/how_to_use.md
  docs/usage/installation.md
  docs/usage/settings.md
Due: linter, basic-test

Add a specific suffix (qdt) before yaml extension. Make it safer to identify scenario files without confusion
  .vscode/settings.json
  tests/dev/dev_validate_yaml_with_json_schema.py
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rm python dotenv and use scenario reader
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/scenarios/__init__.py
  qgis_deployment_toolbelt/scenarios/scenario_reader.py
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Clean up
  .env.example
  .github/labeler.yml
  .vscode/extensions.json
  sample-deployment-config.json
Due: build-wheel, build-win-exe, build-bin-debian

Handle verbose option
  docs/usage/how_to_use.md
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test

Use scenario metadata and set env vars
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Quick fix tests
  tests/test_cli_check.py
  tests/test_cli_clean.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add properties and rename vars to avoid conflicts
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/scenarios/scenario_reader.py
  tests/dev/dev_validate_yaml_with_json_schema.py
  tests/test_scenario_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add basic scenario validation
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/jobs/environment_manager.py
  qgis_deployment_toolbelt/scenarios/scenario_reader.py
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve validation process
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/scenarios/scenario_reader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Some raw tests
  tests/dev/dev_dynamic_imports.py
  tests/dev/subclass.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix hooks config
  .pre-commit-config.yaml
Due: build-wheel, build-win-exe, build-bin-debian

Achieve job and orchestrator logic
  qgis_deployment_toolbelt/jobs/__init__.py
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add basic scenario to dev
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Filter out steps and run job
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Apply changes to independant cli
  qgis_deployment_toolbelt/commands/cli_environment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Make job options generic
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/jobs/job_environment_variables.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

WIP profils synchronizer
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

rm emojis
  CONTRIBUTING.md
Due: none

Fix docstring style and add IDE
  CONTRIBUTING.md
Due: none
