Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Add module to check image size
  qgis_deployment_toolbelt/utils/check_image_size.py
  requirements/base.txt
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Complete check image
  qgis_deployment_toolbelt/utils/check_image_size.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add function to get image dimensions
  qgis_deployment_toolbelt/utils/check_image_size.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve tests
  tests/test_utils_images_size.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  docs/usage/installation.md
Due: none

Add test for utils.slugifier
  tests/test_utils_slugifier.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve test coverage on check image
  tests/test_utils_images_size.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix version builder forcing UTF8
  builder/version_info_templater.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add custom exception for splah screen dimensions
  qgis_deployment_toolbelt/exceptions.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add new option to check image dimensions
  docs/jobs/splash_screen_manager.md
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
  scenario.qdt.yml
Due: linter, basic-test

Add new strict option
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Bump version to 0.13.0
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add version 0.13.0
  CHANGELOG.md
Due: none

Add module to download a remote file locally
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add subcommand to check and download newest version
  qgis_deployment_toolbelt/commands/cli_upgrade.py
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add subcommand to main cli
  qgis_deployment_toolbelt/cli.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Ignore downloaded binaries
  .gitignore
Due: build-wheel, build-win-exe, build-bin-debian

Add subcmd doc
  docs/usage/cli.md
Due: none

Move semver from testing to base dependencies
  requirements/base.txt
  requirements/testing.txt
Due: build-wheel, build-win-exe, build-bin-debian

Add minimal test
  tests/test_cli_upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix tests
  tests/test_cli_upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Replace deprecated semver.compare
  qgis_deployment_toolbelt/commands/cli_upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use build package instead of setup.py
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Use Python 3.10
  .github/workflows/build_release.yml
  .github/workflows/documentation.yml
  .github/workflows/lint.yml
Due: build-wheel, build-win-exe, build-bin-debian

Rm Python 3.8 and 3.9 support
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Disable build isolation
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Use GE to deploy to GH Pages instead of branch gh-pages
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add wip
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
  qgis_deployment_toolbelt/plugins/downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add abstraction class for QGIS plugin
  qgis_deployment_toolbelt/plugins/__init__.py
  qgis_deployment_toolbelt/plugins/plugin.py
  tests/test_qplugin_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Use plugin object
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Cleaning up
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Replace downloader by file downloader
  qgis_deployment_toolbelt/plugins/downloader.py
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add util to retrieve QDT working folder
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

print local woking directory
  qgis_deployment_toolbelt/cli.py
  scenario.qdt.yml
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

WIP plugins manager
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add doc about new job
  docs/jobs/index.md
  docs/jobs/plugins_manager.md
Due: none

clean up
  qgis_deployment_toolbelt/commands/cli_upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add new use cases
  tests/fixtures/profiles/good_profile_complete.json
Due: build-wheel, build-win-exe, build-bin-debian

Add new attributes and methods: url and id_with_version
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
