Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

tests: add more scenarii and factorize test
  tests/fixtures/scenarios/good_scenario_profiles_http.yml
  tests/fixtures/scenarios/good_scenario_profiles_only_missing.qdt.yml
  tests/fixtures/scenarios/good_scenario_sample.qdt.yml
  tests/fixtures/scenarios/good_scenario_splash_screen_remove.qdt.yml
  tests/fixtures/scenarios/good_scenario_with_unexisting_jobs.qdt.yml
  tests/test_cli_main.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature: QdtProfile has now shortcuts to acess to ini files or installed alter-ego
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature: improve spahsl screen manager logic by using ini helper
  qgis_deployment_toolbelt/jobs/job_splash_screen.py
  qgis_deployment_toolbelt/profiles/qgis_ini_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.30.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

fix: undefined variable on Windows if scope != user
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: unused pass
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: use _ to assign an unused var
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: rename var to match Python naming conventions
  qgis_deployment_toolbelt/utils/win32utils.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: add example on PowerShell
  docs/guides/howto_behind_proxy.md
Due: none

wip: add function to get user local groups
  qgis_deployment_toolbelt/utils/journalizer.py
  qgis_deployment_toolbelt/utils/user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

dev: more and more ways to work with domains
  tests/dev/dev_win_user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature: achieve user groups check
  qgis_deployment_toolbelt/utils/user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

dev: add script to work on user groups
  tests/dev/dev_win_user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

WIP dev script
  tests/dev/dev_win_user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature: add function to check if current user is in a specified group
  qgis_deployment_toolbelt/utils/user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

dependencies: add WMI
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

fature: log user groups
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: grp module is not installed on Windows
  qgis_deployment_toolbelt/utils/user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

dependencies: add pyad (fork)
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

ci: rm double quotes
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

feature: add function to determine if the computer is attached or not to a domain
  qgis_deployment_toolbelt/utils/user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: NetUserGetLocalGroups() takes no keyword arguments
  qgis_deployment_toolbelt/utils/user_groups.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

tmp: custom version number to make it explicit
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

enhancement: improve reliability of version templater making sure that a semver is passd
  builder/version_info_templater.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

docs: fix typo spotted by @sylvainbeo
  docs/index.md
Due: none

refacto: factorize logs folder path retrieval
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

test: add test against qdt logs folder retrieval
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve: use default value at start instead of end.
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve: split checks against logs folder path defined in env var
  qgis_deployment_toolbelt/constants.py
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve: optimize internal logic
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Update qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Refacto: factorize logs folders retrieval (#398)
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/utils/journalizer.py
  tests/test_constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

security: bump pillow to 10.2 to fix CVE-2022-22817
  requirements/testing.txt
Due: build-wheel, build-win-exe, build-bin-debian

utils: add a funciton to determine if a file is older than a certain number of hours
  qgis_deployment_toolbelt/utils/file_stats.py
  tests/test_utils_file_stats.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature: add job to autoclean QDT expired resources
  qgis_deployment_toolbelt/jobs/generic_job.py
  qgis_deployment_toolbelt/jobs/job_autoclean.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

chore: add send2trash as base dependency for autoclean
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

utils: add function to move a list of files to trash or delete thme as fallback
  qgis_deployment_toolbelt/utils/trash_or_delete.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

dev: script to check file dates
  tests/dev/dev_files_dates.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: tests were failing because of upstream URL change
  qgis_deployment_toolbelt/plugins/plugin.py
  tests/fixtures/profiles/good_profile_complete.json
  tests/test_qplugin_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix: version comparison
  tests/test_qplugin_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
