Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Bump to version 0.23.1
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Deploy doc only on tags or main
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Trigger build on docs and requirements modifs
  .github/workflows/documentation.yml
Due: build-wheel, build-win-exe, build-bin-debian

Download new release binary only in frozen mode
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  qgis_deployment_toolbelt/commands/upgrade.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add job to generate dependencies graph
  .github/workflows/documentation.yml
  .gitignore
  docs/conf.py
  docs/misc/credits.md
  requirements/documentation.txt
Due: linter, basic-test

Fix fr
  docs/misc/credits.md
Due: none

Change for Ubuntu 22.04
  docs/misc/compatibility.md
Due: none

Add icons
  docs/static/icon_profiles.png
  docs/static/icon_profiles.svg
  docs/static/icon_scenario.png
  docs/static/icon_scenario.svg
  docs/static/logo_qdt.png
Due: build-wheel, build-win-exe, build-bin-debian

Minor change
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Add icon credits
  docs/misc/credits.md
Due: none

Add semver and changelog formalism
  CONTRIBUTING.md
Due: none

Use icon as logo and favicon
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  README.md
Due: none

Completing documentation
  docs/index.md
  docs/usage/cli.md
  docs/usage/how_it_works.md
  docs/usage/how_to_use.md
  docs/usage/scenario.md
Due: none

Achieve profile section
  docs/index.md
  docs/misc/tip_get_plugin_id.md
  docs/usage/how_it_works.md
  docs/usage/profile.md
Due: none

typo
  qgis_deployment_toolbelt/commands/deployment.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  docs/development/releasing.md
Due: none

Add feature request issue form
  .github/ISSUE_TEMPLATE/02-feature-request.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add job to publish as Docker container
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Rm custom tags
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

Move how to sign executable into guides subfolder and add how to build docker image
  docs/development/packaging.md
  docs/guides/howto_windows_sign_executable.md
Due: none

Add how to install docker image
  docs/usage/installation.md
Due: none

Add docker files
  .dockerignore
  Dockerfile
Due: build-wheel, build-win-exe, build-bin-debian

Add guides section
  docs/guides/howto_qgis_get_plugin_id.md
  docs/index.md
Due: none

Bump version to 0.24.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

Fix docker install cmd
  docs/usage/installation.md
Due: none

Fix publication options
  docs/usage/profile.md
Due: none

Restore download section
  docs/conf.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add demo profile
  examples/demo/.gitignore
  examples/demo/QGIS/QGIS3.ini
  examples/demo/QGIS/QGISCUSTOMIZATION3.ini
  examples/demo/bookmarks.xml
  examples/demo/project_default.qgs
  examples/demo/project_default_attachments.zip
Due: build-wheel, build-win-exe, build-bin-debian

Add demo profile.json
  examples/demo/profile.json
Due: build-wheel, build-win-exe, build-bin-debian

Add screen capture of demo profile
  docs/static/examples_profiles_qdt-demo_qgis_ui.png
Due: build-wheel, build-win-exe, build-bin-debian

Add demo icon and splash
  examples/demo/images/logo_qdt.ico
  examples/demo/images/splash.png
  examples/demo/profile.json
Due: build-wheel, build-win-exe, build-bin-debian

Add readme about demo profile
  examples/demo/README.md
Due: none

Move under examples/profiles subfolder
  examples/demo/project_default.qgs
  examples/demo/project_default_attachments.zip
  examples/profiles/demo/.gitignore
  examples/profiles/demo/QGIS/QGIS3.ini
  examples/profiles/demo/QGIS/QGISCUSTOMIZATION3.ini
  examples/profiles/demo/README.md
  examples/profiles/demo/bookmarks.xml
  examples/profiles/demo/images/logo_qdt.ico
  examples/profiles/demo/images/splash.png
  examples/profiles/demo/profile.json
Due: none

Add demo scenario
  examples/scenarios/demo-scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix profile name
  examples/scenarios/demo-scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Add typical structure section
  docs/usage/profile.md
Due: none

Set download as default action
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix splash size
  examples/profiles/demo/images/splash.png
Due: build-wheel, build-win-exe, build-bin-debian

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
