Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

.gitlab-ci.yml:

stages:
  - üêç lint
  - ü§û test
  - üì¶ build
  - üöÄ deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  CLI_NAME: "qgis-deployment-toolbelt"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PROJECT_DIR: "qgis_deployment_toolbelt/"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  key:
    files:
      - requirements/*.txt
  paths:
    - .cache/pip

# -- LINT JOBS -------------------------------------------------------------------------
linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  only:
    changes:
      - "**/*.py"
  before_script:
    - python -m pip install -U flake8
  script:
    - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
    - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

# -- TEST JOBS -------------------------------------------------------------------------
basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  only:
    changes:
      - "**/*.py"
      - ".gitlab-ci.yml"
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
  script:
    - python -m pip install -e .
    - $CLI_NAME --version
    - $CLI_NAME --help

# -- BUILD JOBS ------------------------------------------------------------------------
build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python setup.py egg_info
    - python setup.py sdist
    - python setup.py bdist_wheel

  artifacts:
    paths:
      - dist/*.whl

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
    - win10-vs2017
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python .\builder\version_info_templater.py

  artifacts:
    paths:
      - dist/*.exe

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  only:
    - main
    - tags

  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/packaging.txt
  script:
    - python -OO builder/pyinstaller_build_ubuntu.py

  artifacts:
    paths:
      - dist/*

  except:
    changes:
      - "**/*.md"
      - "**/*.rst"

# -- DEPLOYMENT JOBS -------------------------------------------------------------------
gitlab-pypi-package:
  stage: üöÄ deploy
  image: python:latest
  dependencies:
    - packaging
  only:
    - tags
  script:
    - python -m pip install -U twine
    - python setup.py sdist bdist_wheel
    - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/pypi dist/*

pages:
  image: python:3.8-slim-buster
  stage: üöÄ deploy
  only:
    - main
  before_script:
    - python -m pip install -U -r requirements/base.txt
    - python -m pip install -U -r requirements/development.txt
    - python -m pip install -U -r requirements/documentation.txt
  script:
    - sphinx-build -b html docs public
  artifacts:
    paths:
      - public

fix(docs): value must be quoted in PowerShell command to set env vars
  docs/guides/howto_use_custom_ssl_certs.md
Due: none

typo: missing space
  qgis_deployment_toolbelt/jobs/generic_job.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto(cleanup): fix some type hints and relative imports
  qgis_deployment_toolbelt/__init__.py
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/utils/__init__.py
  qgis_deployment_toolbelt/utils/journalizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(tests): change import
  tests/test_utils_proxies.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(tests): change import
  tests/test_job_environment_variables.py
  tests/test_utils_str2bool.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

refacto(cleanup): fix some type hints and relative imports (#540)
  qgis_deployment_toolbelt/__init__.py
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/utils/__init__.py
  qgis_deployment_toolbelt/utils/journalizer.py
  tests/test_job_environment_variables.py
  tests/test_utils_proxies.py
  tests/test_utils_str2bool.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

update(docs): improve plugins downloader job details
  docs/jobs/plugins_downloader.md
Due: none

fix(docs): bad folder name
  docs/jobs/plugins_downloader.md
Due: none

feature(downloader): add option to control over stream mode
  docs/usage/settings.md
  qgis_deployment_toolbelt/utils/file_downloader.py
  tests/test_utils_file_downloader.py
Due: linter, basic-test

enchance(downloader): improve error report in case of HTTP errors
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature(downloader): transform into use_stream option and move env var resolution in caller modules
  qgis_deployment_toolbelt/commands/deployment.py
  qgis_deployment_toolbelt/commands/upgrade.py
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
  qgis_deployment_toolbelt/profiles/remote_http_handler.py
  qgis_deployment_toolbelt/utils/file_downloader.py
  tests/test_utils_file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

update(packaging): use Python 3.12 to build packages
  .github/workflows/build_release.yml
Due: build-wheel, build-win-exe, build-bin-debian

enchance(refacto): rename shortucts/shortcuts module and apply absolute import
  qgis_deployment_toolbelt/jobs/job_shortcuts.py
  qgis_deployment_toolbelt/shortcuts/__init__.py
  qgis_deployment_toolbelt/shortcuts/shortcuts_handler.py
  tests/test_shortcuts.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

enchance(refacto): improve docstrings and type hints consistency
  qgis_deployment_toolbelt/shortcuts/shortcuts_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(linter): use constants instaed of repeated vars
  qgis_deployment_toolbelt/constants.py
  qgis_deployment_toolbelt/shortcuts/shortcuts_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(linter): type hint should be str
  qgis_deployment_toolbelt/shortcuts/shortcuts_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(linter): merge duplicate code
  qgis_deployment_toolbelt/shortcuts/shortcuts_handler.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feature(downloader): add option to disable SSL verification
  docs/usage/settings.md
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test

release: bump version to 0.35.0
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

release: bump version to 0.35.1
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

fix(quality): fix some type hints
  qgis_deployment_toolbelt/cli.py
  qgis_deployment_toolbelt/exceptions.py
  qgis_deployment_toolbelt/utils/ini_parser_with_path.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

add(tooling): helper script to convert png to ico
  qgis_deployment_toolbelt/shortcuts/icon_converter.py
  tests/dev/dev_png2ico.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve(downloader): use a custom HTTP transport adapter instead of rough injection
  qgis_deployment_toolbelt/utils/file_downloader.py
  tests/dev/dev_http_network_check.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(downloader): stream option was not propagated to get args
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

fix(downloader): qdt_plugins_to_copy was not created in force mode
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

improve(tests): add scenario to test against plugins downloader in monothread and forced
  tests/fixtures/scenarios/good_scenario_plugins_downloader_force.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

release: bump version to 0.35.2
  CHANGELOG.md
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test

update(docs): improve quickstart
  docs/index.md
Due: none

update(tooling): add TOML VS Code extension
  .vscode/extensions.json
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

change(packaging): use pyproject.toml instead of setup.py
  pyproject.toml
  qgis_deployment_toolbelt/__about__.py
  setup.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

update(docs): add how to use autogenerated release notes from GitHub
  docs/development/releasing.md
Due: none

enhance(qgis-finder): improve run_needed by using check_path and adding logs
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(installed qgis): only check file for qgis version
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

update(docs): add qgis-installation-finder to demo and examples
  examples/scenarios/demo-scenario-http.qdt.yml
  examples/scenarios/demo-scenario.qdt.yml
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

typos
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(installed qgis): remove unused regexp
  qgis_deployment_toolbelt/constants.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(installed qgis): recursive search for search_paths option
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

feat(installed qgis): remove unused regexp
  qgis_deployment_toolbelt/jobs/job_qgis_installation_finder.py
  tests/dev/dev_qgis_install_version.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

update(docs): restore full scenario
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian
