Repository Guts/qgis-deployment-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

linter:
  stage: üêç lint
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U flake8
  script:
  - flake8 $PROJECT_DIR --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 $PROJECT_DIR --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

basic-test:
  image: python:3.8-slim-buster
  stage: ü§û test
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/development.txt
  script:
  - python -m pip install -e .
  - $CLI_NAME --version
  - $CLI_NAME --help

build-wheel:
  image: python:3.8-slim-buster
  stage: üì¶ build
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python setup.py egg_info
  - python setup.py sdist
  - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/*.whl

build-win-exe:
  stage: üì¶ build
  image: python:windowsservercore-1809
  tags:
  - win10-vs2017
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python .\builder\version_info_templater.py
  artifacts:
    paths:
    - dist/*.exe

build-bin-debian:
  stage: üì¶ build
  image: python:3.8-slim-buster
  before_script:
  - python -m pip install -U -r requirements/base.txt
  - python -m pip install -U -r requirements/packaging.txt
  script:
  - python -OO builder/pyinstaller_build_ubuntu.py
  artifacts:
    paths:
    - dist/*

Use qdt working folder
  qgis_deployment_toolbelt/jobs/job_profiles_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add step to list referenced plugins through different plugins
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Set Google style as docstring format
  .vscode/settings.json
Due: build-wheel, build-win-exe, build-bin-debian

Add method to filter plugins to download
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Fix url build
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

typo
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add new options force and threads
  docs/jobs/plugins_manager.md
Due: none

Add downloading logic
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve output URL building
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Improve error handling
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add plugins manager
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix typing
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add Python 3.11 to integration tests
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Fix class methods order
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Align tests on minimal Python version set in packaging
  .github/workflows/tests.yml
Due: build-wheel, build-win-exe, build-bin-debian

Apply minimal Python version
  docs/development/windows.md
Due: none

Make sure the parents folder of download path exist
  qgis_deployment_toolbelt/utils/file_downloader.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Extends tests of plugins property
  tests/test_qdt_profile_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rename profile fixtures
  tests/fixtures/profiles/good_profile_complete.json
  tests/fixtures/profiles/good_profile_minimal.json
Due: build-wheel, build-win-exe, build-bin-debian

Add plugin installation folder_name attribute and extraction logic
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Rename plugins manger into plugins downloader
  docs/jobs/plugins_downloader.md
  qgis_deployment_toolbelt/jobs/job_plugins_downloader.py
  qgis_deployment_toolbelt/jobs/orchestrator.py
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test

Identify plugins to install and get downloaded source
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add class method to create a QgisPlugin directly from a ZIP
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

If no plugins, returns an empty list instead of None
  qgis_deployment_toolbelt/profiles/qdt_profile.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add plugins synchronizer
  docs/jobs/index.md
  docs/jobs/plugins_synchronizer.md
Due: none

Ignore temp fixtures
  .gitignore
Due: build-wheel, build-win-exe, build-bin-debian

Add job plugins synchronizer to smaple scenario
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Test plugin from ZIP
  tests/test_qplugin_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add mechanism to missing plugins into profiles
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add method to create qplugin object from a folder
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Clean task
  .vscode/tasks.json
Due: build-wheel, build-win-exe, build-bin-debian

Do not specify the source
  scenario.qdt.yml
Due: build-wheel, build-win-exe, build-bin-debian

Bump version to 0.14.0
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Download URL should use folder_name when exists instead of name
  qgis_deployment_toolbelt/plugins/plugin.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Bump to version 0.14.1
  qgis_deployment_toolbelt/__about__.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add packaging to base dependencies
  requirements/base.txt
Due: build-wheel, build-win-exe, build-bin-debian

Add method to compare plugin versions
  qgis_deployment_toolbelt/plugins/plugin.py
  tests/test_qplugin_object.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

When installed plugin is older than expected
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Unarchive upgraded plugins
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test, build-wheel, build-win-exe, build-bin-debian

Add new option to specify the profile to use as reference
  docs/jobs/plugins_synchronizer.md
  qgis_deployment_toolbelt/jobs/job_plugins_synchronizer.py
Due: linter, basic-test

Path conditions:
  linter: any of: **/*.py
  basic-test: any of: **/*.py, .gitlab-ci.yml
  build-wheel: not (any of: **/*.md, **/*.rst)
  build-win-exe: not (any of: **/*.md, **/*.rst)
  build-bin-debian: not (any of: **/*.md, **/*.rst)
